﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SeekerProfile.ascx.cs" Inherits="ScholarBridge.Web.Provider.BuildScholarship.SeekerProfile" %>
<%@ Register Assembly="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             Namespace="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             TagPrefix="elv" %>
<%@ Register src="~/Common/Lookup/LookupDialog.ascx" tagname="LookupDialog" tagprefix="sb" %>
<%@ Register src="~/Common/FlagEnumCheckBoxList.ascx" tagname="FlagEnumCheckBoxList" tagprefix="sb" %>
<%@ Register src="~/Common/LookupItemCheckboxList.ascx" tagname="LookupItemCheckboxList" tagprefix="sb" %>
<%@ Register src="~/Common/NumberRangeConditionControl.ascx" tagname="NumberRangeCondition" tagprefix="sb" %>
<%@ Register Assembly="Web"
             Namespace="ScholarBridge.Web.Common"
             TagPrefix="sbCommon" %>

<%@ Register Assembly="SandTrap.WebControls" Namespace="SandTrap.WebControls" TagPrefix="sandTrap" %>
<%@ Register TagPrefix="sb" TagName="SingleAttributeSelectionControl" Src="SingleAttributeSelectionControl.ascx" %>
<%@ Register TagPrefix="sb" TagName="CoolTipInfo" Src="~/Common/CoolTipInfo.ascx" %>  
<h2>Build Scholarship – Applicant's Profile</h2>


<div class="form-iceland-container">
    <div class="form-iceland">
        <asp:PlaceHolder ID="SeekerDemographicsPersonalContainerControl" runat="server">
          <p class="form-section-title">Applicant Demographics - Personal</p>
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    
                    <sb:SingleAttributeSelectionControl id="AttributeSelectionFirstGenerationControl" 
                    runat="server" DisplayHeader="true" BuddyControl="FirstGenerationContainerControl"/>
                    </div>
                    <div class="form-iceland right-columns">
                    <br /><br />
                        <asp:PlaceHolder ID="FirstGenerationContainerControl" runat="server">
                        <label for="FirstGenerationControl" style="width:230px !important;">First Generation College Student:</label>
                        
                        <asp:Literal ID="FirstGenerationControl" runat="server" />
                        <sb:CoolTipInfo ID="CoolTipInfo1" Content="First Generation in your family to attend college." runat="server" />
                        </asp:PlaceHolder>
                    </div>
            </div>      
            <br />
              <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionEthinicityControl" 
                            runat="server" DisplayHeader="false" BuddyControl="EthnicityContainerControl"/>
                        </div>
                       <div class="form-iceland right-columns">
                          <asp:PlaceHolder ID="EthnicityContainerControl" runat="server">
                          <label id="EthnicityLabelControl" for="EthnicityControl">Ethnicity:</label>
                            <sb:LookupItemCheckboxList id="EthnicityControl" runat="server" LookupServiceSpringContainerKey="EthnicityDAL" MultiColumn="true"/>
                            <br />
                          </asp:PlaceHolder>

                       </div>
             </div>      
            <br />
            <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionReligionControl" 
                        runat="server" DisplayHeader="false" BuddyControl="ReligionContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                        <asp:PlaceHolder ID="ReligionContainerControl" runat="server">
                        <label id="ReligionLabelControl" for="ReligionControl">Religion:</label>
                        <sb:LookupItemCheckboxList id="ReligionControl" runat="server"  MultiColumn="true" LookupServiceSpringContainerKey="ReligionDAL"/>
                        <br />
                      </asp:PlaceHolder>
                    </div>

            </div>      
            <br />
            <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionGendersControl" 
                        runat="server" DisplayHeader="false" BuddyControl="GendersContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                        <asp:PlaceHolder ID="GendersContainerControl" runat="server">
                        <label id="GendersLabelControl" for="GendersControl">Genders:</label>
                        <br />
                        <sb:FlagEnumCheckBoxList id="GendersControl" runat="server"  
                         ExcludeKeys="1"    MultiColumn="true" DatasourceEnumTypeName="ScholarBridge.Domain.Lookup.Genders, ScholarBridge.Domain" />
                        </asp:PlaceHolder>
                        <br />
                   </div>

            </div>      
            <br />
          </asp:PlaceHolder>
        </asp:PlaceHolder>  
        <hr />
        <asp:PlaceHolder ID="SeekerDemographicsGeographicContainerControl" runat="server">
          <p class="form-section-title">Applicant Demographics - Geographic </p>
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionStateControl" 
                        runat="server" DisplayHeader="true" BuddyControl="StateContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="StateContainerControl" runat="server">
                          <label for="StateControl">State:</label>
                            <asp:DropDownList ID="StateControl" runat="server" />
                            <sb:CoolTipInfo ID="CoolTipInfoStateControl" Content="Use to indicate if applicants must be residents of a specific state, All applicants are required to provide a permanent address." runat="server" />
 
                            <br />
                            <span >The following fields can only be used when Washington State is selected.</span>
                            <br />
                      </asp:PlaceHolder>
                   </div> 
             </div> 
            <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionHighSchoolControl" 
                        runat="server" DisplayHeader="false" BuddyControl="HighSchoolContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="HighSchoolContainerControl" runat="server">
                          <label id="HighSchoolControlLabel" for="HighSchoolControl">High School:</label>
                            <sb:LookupDialog ID="HighSchoolControlDialogButton" runat="server" BuddyControl="HighSchoolControl" ItemSource="HighSchoolDAL" Title="High School Selection"/>
                            <asp:TextBox ID="HighSchoolControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                            <sb:CoolTipInfo ID="CoolTipInfoHighSchool" Content="Use to indicate if applicant has to have attended or graduated from a specified High School." runat="server" />
 
                     
                            <br />
                      </asp:PlaceHolder>
                   </div> 
             </div> 
            <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionSchoolDistrictControl" 
                        runat="server" DisplayHeader="false" BuddyControl="SchoolDistrictContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="SchoolDistrictContainerControl" runat="server">
                          <label id="SchoolDistrictLabel" for="SchoolDistrictControl">School District:</label>
                            <sb:LookupDialog ID="SchoolDistrictControlDialogButton" runat="server" BuddyControl="SchoolDistrictControl" ItemSource="SchoolDistrictDAL" Title="School District Selection"/>
                            <asp:TextBox ID="SchoolDistrictControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                            <sb:CoolTipInfo ID="CoolTipInfoSchoolDistrict" Content="Use to indicate if applicant has to have attended a specified School district." runat="server" />
                            <br />
                      </asp:PlaceHolder>
                   </div> 
             </div> 
            <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionCityControl" 
                        runat="server" DisplayHeader="false" BuddyControl="CityContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="CityContainerControl" runat="server">
                          <label id="CityControlLabel" for="CityControl">City:</label>
                            <sb:LookupDialog ID="CityControlDialogButton" runat="server" BuddyControl="CityControl" ItemSource="CityDAL" Title="City Selection"/>
                            <asp:TextBox ID="CityControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                            <sb:CoolTipInfo ID="CoolTipInfoCity" Content="Use to indicate if applicants must be a residents of a specific city." runat="server" />
                            
                            <br />
                      </asp:PlaceHolder>
                   </div> 
             </div> 
             <br />
            <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionCountyControl" 
                        runat="server" DisplayHeader="false" BuddyControl="CountyContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="CountyContainerControl" runat="server">
                          <label id="CountyControlLabel" for="CountyControl">County:</label>
                            <sb:LookupDialog ID="CountyControlDialogButton" runat="server" BuddyControl="CountyControl" ItemSource="CountyDAL" Title="County Selection"/>
                            <asp:TextBox ID="CountyControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                             <sb:CoolTipInfo ID="CoolTipInfoCounty" Content="Use to indicate if applicants must be residents of a specific county." runat="server" />
               
                            <br />
                      </asp:PlaceHolder>
                   </div> 
             </div> 
        </asp:PlaceHolder>
        <hr />
        <asp:PlaceHolder ID="SeekerInterestsControlContainer" runat="server">
          <p class="form-section-title">Applicant Interests</p>
          <br />
          <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                       <sb:SingleAttributeSelectionControl id="AttributeSelectionAcademicAreasControl" 
                        runat="server" DisplayHeader="True" BuddyControl="AcademicAreasContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />
                      <asp:PlaceHolder ID="AcademicAreasContainerControl" runat="server">
                        <label id="AcademicAreasLabelControl" for="AcademicAreasControl">Field of Study:</label>
                        <sb:LookupDialog ID="AcademicAreasControlDialogButton" runat="server" BuddyControl="AcademicAreasControl" ItemSource="AcademicAreaDAL" Title="Academic Area Selection"/>
                        <asp:TextBox ID="AcademicAreasControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                        <sb:CoolTipInfo ID="CoolTipInfoAcademicAreasControl" Content="Use to indicate Major or academic area of interest." runat="server" />
                        <asp:RequiredFieldValidator ID="AcademicAreasControlRequiredValidator" ControlToValidate="AcademicAreasControl" runat="server" ErrorMessage="Select at least one field of study"></asp:RequiredFieldValidator>
                        <br />
                      </asp:PlaceHolder>
                    </div> 
            </div> 
           <br />
          <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionCareersControl" 
                        runat="server" DisplayHeader="false" BuddyControl="CareersContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />             
                      <asp:PlaceHolder ID="CareersContainerControl" runat="server">
                        <label id="CareersLabelControl" for="CareersControl">Careers:</label>
                        <sb:LookupDialog ID="CareersControlDialogButton" runat="server" BuddyControl="CareersControl" ItemSource="CareerDAL" Title="Career Selection"/>
                        <asp:TextBox ID="CareersControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                        <sb:CoolTipInfo ID="CoolTipInfoCareersControl" Content="Use to indicate career objectives." runat="server" />
                        <asp:RequiredFieldValidator ID="CareersControlRequiredValidator" ControlToValidate="CareersControl" runat="server" ErrorMessage="Select at least one career"></asp:RequiredFieldValidator>
                        <br />
                      </asp:PlaceHolder>
                    </div> 
            </div> 
          <br />
          <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionOrganizationsControl" 
                        runat="server" DisplayHeader="false" BuddyControl="OrganizationsContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br />         
                      <asp:PlaceHolder ID="OrganizationsContainerControl" runat="server">
                        <label id="OrganizationsLabelControl" for="OrganizationsControl">Organizations:</label>
                        <sb:LookupDialog ID="OrganizationsControlDialogButton" runat="server" BuddyControl="OrganizationsControl" ItemSource="SeekerMatchOrganizationDAL" Title="Organization Affiliation Selection"/>
                        <asp:TextBox ID="OrganizationsControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                        <sb:CoolTipInfo ID="CoolTipInfoOrganizationsControl" Content="Use to indicate scholarship is available to members of an organization, service club, church, sorority or fraternity." runat="server" />
                        <asp:RequiredFieldValidator ID="OrganizationsControlRequiredValidator" ControlToValidate="OrganizationsControl" runat="server" ErrorMessage="Select at least one organization"></asp:RequiredFieldValidator>
                        <br />
                      </asp:PlaceHolder>
                    </div> 
            </div> 
          <br />
          <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                    <br /><br />
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionCompanyControl" 
                        runat="server" DisplayHeader="false" BuddyControl="CompanyContainerControl"/>
                    </div>
                   <div class="form-iceland right-columns">
                      <br /><br />         
                  <asp:PlaceHolder ID="CompanyContainerControl" runat="server">
                    <label id="CompanyLabelControl" for="CompanyControl">Company:</label>
                   <sb:LookupDialog ID="CompanyControlDialogButton" runat="server" BuddyControl="CompanyControl" ItemSource="CompanyDAL" Title="Company Selection"/>
                    <asp:TextBox ID="CompanyControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                    <sb:CoolTipInfo ID="CoolTipInfoCompanyControl" Content="Use to indicate scholarship is available to employees, family members, or people affiliated with a company." runat="server" />
                    <asp:RequiredFieldValidator ID="CompanyControlRequiredValidator" ControlToValidate="CompanyControl" runat="server" ErrorMessage="Select at least one company"></asp:RequiredFieldValidator>
                    <br />
                  </asp:PlaceHolder>
                </div> 
            </div> 
          <br />          
        </asp:PlaceHolder>
        <hr />
        <asp:PlaceHolder ID="SeekerActivitiesControlContainer" runat="server">
          <p class="form-section-title">Applicant Activities</p>
          <div class="form-iceland-container">
            <div class="form-iceland left-columns">
                <sb:SingleAttributeSelectionControl id="AttributeSelectionHobbiesControl" 
                runat="server" DisplayHeader="true" BuddyControl="HobbiesContainerControl"/>
            </div>
           
           <div class="form-iceland right-columns">
           <br /><br />
              <asp:PlaceHolder ID="HobbiesContainerControl" runat="server">
                <label id="SeekerHobbiesLabelControl" for="SeekerHobbiesControl">Hobbies:</label>
                <sb:LookupDialog ID="SeekerHobbiesControlDialogButton" runat="server" BuddyControl="SeekerHobbiesControl" ItemSource="SeekerHobbyDAL" Title="Hobby Selection"/>
                <asp:TextBox ID="SeekerHobbiesControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                <sb:CoolTipInfo ID="CoolTipInfoSeekerHobbiesControl" Content="Use to indicate applicant hobbies." runat="server" />
                <asp:RequiredFieldValidator ID="SeekerHobbiesControlRequiredValidator" ControlToValidate="SeekerHobbiesControl" runat="server" ErrorMessage="Select at least one hobby"></asp:RequiredFieldValidator>
                <br />
              </asp:PlaceHolder>
              </div> 
            </div> 
          <br />
          <div class="form-iceland-container">
            <div class="form-iceland left-columns">
                <sb:SingleAttributeSelectionControl id="AttributeSelectionSportsControl" 
                runat="server" DisplayHeader="false" BuddyControl="SportsContainerControl"/>
            </div>
           
           <div class="form-iceland right-columns">
              <asp:PlaceHolder ID="SportsContainerControl" runat="server">
                <label id="SportsLabelControl" for="SportsControl">Sports:</label>
                <sb:LookupDialog ID="SportsControlDialogButton" runat="server" BuddyControl="SportsControl" ItemSource="SportDAL" Title="Sport Participation Selection"/>
                <asp:TextBox ID="SportsControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                <sb:CoolTipInfo ID="CoolTipInfoSportsControl" Content="Use to indicate sports the applicant participates in." runat="server" />
                <asp:RequiredFieldValidator ID="SportsControlRequiredValidator" ControlToValidate="SportsControl" runat="server" ErrorMessage="Select at least one sport"></asp:RequiredFieldValidator>
                <br />
              </asp:PlaceHolder>
              </div>
           </div>     
          <br />
          <div class="form-iceland-container">
            <div class="form-iceland left-columns">
                <sb:SingleAttributeSelectionControl id="AttributeSelectionClubsControl" 
                runat="server" DisplayHeader="false" BuddyControl="ClubsContainerControl"/>
            </div>
           
           <div class="form-iceland right-columns">
              <asp:PlaceHolder ID="ClubsContainerControl" runat="server">
                <label id="ClubsLabelControl" for="ClubsControl">Clubs:</label>
               <sb:LookupDialog ID="ClubsControlDialogButton" runat="server" BuddyControl="ClubsControl" ItemSource="ClubDAL" Title="Club Participation Selection"/>
                <asp:TextBox ID="ClubsControl" ReadOnly="true" TextMode="MultiLine" runat="server"></asp:TextBox>
                <sb:CoolTipInfo ID="CoolTipInfoClubsControl" Content="Use to indicate applicant club membership." runat="server" />
                <asp:RequiredFieldValidator ID="ClubsControlRequiredValidator" ControlToValidate="ClubsControl" runat="server" ErrorMessage="Select at least one club"></asp:RequiredFieldValidator>
                <br />
              </asp:PlaceHolder>
            </div>
           </div> 
          <br />
          <div class="form-iceland-container">
            <div class="form-iceland left-columns">
                <sb:SingleAttributeSelectionControl id="AttributeSelectionWorkTypeControl" 
                runat="server" DisplayHeader="false" BuddyControl="WorkTypeContainerControl"/>
            </div>
           
                <div class="form-iceland right-columns">
                  <asp:PlaceHolder ID="WorkTypeContainerControl" runat="server">
                    <label id="WorkTypeLabelControl" for="WorkTypeControl">Applicant Working:</label>
                    <asp:Literal ID="WorkTypeControl" runat="server" />
                    <sb:CoolTipInfo ID="CoolTipInfoWorkTypeControl" Content="Applicant will be asked to provide detail. Use this field to indicate if an applicant working is part of your selection criteria." runat="server" />
                    <br />
                  </asp:PlaceHolder>
                </div> 
            </div>
          <br />
          
           <div class="form-iceland-container">
                <div class="form-iceland left-columns">
                    <sb:SingleAttributeSelectionControl id="AttributeSelectionServiceTypeControl" 
                    runat="server" DisplayHeader="false" BuddyControl="ServiceTypeContainerControl"/>
                </div>
               
                    <div class="form-iceland right-columns">
                      <asp:PlaceHolder ID="ServiceTypeContainerControl" runat="server">
                        <label id="ServiceTypeLabelControl" for="ServiceTypeControl">Applicant Service:</label>
                       <asp:Literal ID="ServiceTypeControl" runat="server" />
                        <sb:CoolTipInfo ID="CoolTipInfoServiceTypeControl" Content="Applicant will be asked to provide detail. Use this field to indicate if an applicant engaged in service is part of your selection criteria." runat="server" />
                        <br />
                      </asp:PlaceHolder>
                  </div> 
            </div>
          <br />                      
        </asp:PlaceHolder>
        <hr />
        <asp:PlaceHolder ID="SeekerPerformanceControlContainer" runat="server">
              <p class="form-section-title">Applicant Student Performance</p>
                    
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                       
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionGPAControl" 
                            runat="server" DisplayHeader="true" BuddyControl="GPAContainerControl"/>
                        </div>
                       <div class="form-iceland right-columns">
                       <br /><br />
                          <asp:PlaceHolder ID="GPAContainerControl" runat="server">
                                <!-- See code comment WSC-352 -->
                               
                                 <label  class="attributeTitlelabel" >GPA (4.0=A) </label>  
                                <div class="subsection control-set">
                                
                                   <label  class="attributeTitlelabel" >Greather than</label> 
                                    <sandTrap:NumberBox ID="GPAGreaterThanControl"  Width="50px" runat="server" Precision="3" MinAmount="0" MaxAmount="5"/>
                                    

                                    <label for="GPALessThanControl">Less than:</label>
                                    <asp:TextBox ID="GPALessThanControl" runat="server"  Width="50px" style="text-align:right" Precision="3" CanNull="true"
                                        minamount="0" maxamount="5" onfocus="FormatNumberAsDecimal(this)" onblur="FormatDecimalAsNumber(this)"/>
                                 </div>
                            <br />
                          </asp:PlaceHolder>
                          </div> 
                    </div>
                    
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                        <br />
                        <br />
                        

                            <sb:SingleAttributeSelectionControl id="AttributeSelectionSATWritingControl" 
                            runat="server" DisplayHeader="false" BuddyControl="SATWritingContainerControl"/>
                        </div>
                         
                        <div class="form-iceland right-columns">
                           
                            <asp:PlaceHolder ID="SATWritingContainerControl"  runat="server">
                           
                            <label>SAT Score:</label>
                             <br />
                              
                                <label  class="attributeTitlelabel subsection" >Writing</label>  
                                                     
                                <div id="satWritingDiv" class="control-set" runat="Server">
								
								<sb:NumberRangeCondition id="SATWritingControl" runat="server"  Title="Writing"
								  MaximumAllowedValue="800" MinimumAllowedValue="200" DefaultMaximumValue="800" DefaultMinimumValue="200"/>
								<br />
								</div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
					<br />
                   <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionSATCriticalReadingControl" 
                            runat="server" DisplayHeader="false" BuddyControl="SATCriticalReadingContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <asp:PlaceHolder ID="SATCriticalReadingContainerControl"  runat="server">
                            <label  class="attributeTitlelabel subsection" >Critical Reading</label>  
                                <div id="satCriticalReadingDiv" class="control-set"  runat="Server">
                                         
                                        <sb:NumberRangeCondition id="SATCriticalReadingControl" runat="server" Title="Critical Reading"
                                          MaximumAllowedValue="800" MinimumAllowedValue="200" DefaultMaximumValue="800" DefaultMinimumValue="200"/>
                                        <br />
                                    </div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
					<br />					

                   <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionSATMathematicsControl" 
                            runat="server" DisplayHeader="false" BuddyControl="SATMathematicsContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <asp:PlaceHolder ID="SATMathematicsContainerControl"  runat="server">
                                <label  class="attributeTitlelabel subsection" >Mathematics</label>  
                                <div id="satMathematicsDiv"  class="control-set"  runat="Server">
									<sb:NumberRangeCondition id="SATMathematicsControl" runat="server"
									  MaximumAllowedValue="800" MinimumAllowedValue="200" DefaultMaximumValue="800" DefaultMinimumValue="200"/>
								</div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>      
                   
                   <br />
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                         <br />
                        <br />
                        
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionACTEnglishControl" 
                            runat="server" DisplayHeader="false" BuddyControl="ACTEnglishContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <label>ACT Score:</label>
                            <br />
                            <asp:PlaceHolder ID="ACTEnglishContainerControl"  runat="server">
                                <label class="attributeTitlelabel subsection" >English</label>
                                <div id="actEnglishDiv"  class="control-set" runat="Server">
                                    <sb:NumberRangeCondition id="ACTEnglishControl" runat="server"
                                      MaximumAllowedValue="36" MinimumAllowedValue="0" DefaultMaximumValue="36" DefaultMinimumValue="0"/>
                                    <br />  
								</div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
					<br />
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionACTMathematicsControl" 
                            runat="server" DisplayHeader="false" BuddyControl="ACTMathematicsContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <asp:PlaceHolder ID="ACTMathematicsContainerControl"  runat="server">
                                <label class="attributeTitlelabel subsection" >Mathematics</label>
                                <div id="actMathematicsDiv"  class="control-set" runat="Server">
                                    <sb:NumberRangeCondition id="ACTMathematicsControl" runat="server"
                                      MaximumAllowedValue="36" MinimumAllowedValue="0" DefaultMaximumValue="36" DefaultMinimumValue="0"/>
                                    <br />
                                </div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
					<br />
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionACTReadingControl" 
                            runat="server" DisplayHeader="false" BuddyControl="ACTReadingContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <asp:PlaceHolder ID="ACTReadingContainerControl"  runat="server">
                            <label class="attributeTitlelabel subsection" >Reading</label>
                                <div id="actReadingDiv" class="control-set" runat="Server">
                                    <sb:NumberRangeCondition id="ACTReadingControl" runat="server"
                                      MaximumAllowedValue="36" MinimumAllowedValue="0" DefaultMaximumValue="36" DefaultMinimumValue="0"/>
                                    <br />
								</div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
				   <br />
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionACTScienceControl" 
                            runat="server" DisplayHeader="false" BuddyControl="ACTScienceContainerControl"/>
                        </div>
                        <div class="form-iceland right-columns">
                            <asp:PlaceHolder ID="ACTScienceContainerControl"  runat="server">
                            <label class="attributeTitlelabel subsection" >Science</label>
                                <div id="actScienceDiv" class="control-set" runat="Server">
                                    <sb:NumberRangeCondition id="ACTScienceControl" runat="server"
                                      MaximumAllowedValue="36" MinimumAllowedValue="0" DefaultMaximumValue="36" DefaultMinimumValue="0"/>
                                </div>
                            </asp:PlaceHolder> 
                        </div>
                    </div>   
					<br />
				   
				   <br />
                    <div class="form-iceland-container">
                        <div class="form-iceland left-columns">
                            <sb:SingleAttributeSelectionControl id="AttributeSelectionClassRankControl" 
                            runat="server" DisplayHeader="false" BuddyControl="ClassRankContainerControl"/>
                        </div>
                        
                        <div class="form-iceland right-columns">
                          <asp:PlaceHolder ID="ClassRankContainerControl" runat="server">
                          <label id="ClassRankControlLabel" for="ClassRankControl">Class Rank:</label>
                            <sb:LookupItemCheckboxList id="ClassRankControl" runat="server" LookupServiceSpringContainerKey="ClassRankDAL" MultiColumn="true"/>
                            <br />
                          </asp:PlaceHolder>

                       </div>
                       
                </div>
                <br /><br />
				<div class="form-iceland-container">
					<div class="form-iceland left-columns">
						<sb:SingleAttributeSelectionControl id="AttributeSelectionHonorsControl" 
						runat="server" DisplayHeader="false" BuddyControl="HonorsContainerControl"/>
					</div>
						<div class="form-iceland right-columns">
						  <asp:PlaceHolder ID="HonorsContainerControl" runat="server">
							<label for="HonorsLabelControl">Academic Honors:</label>
							<asp:Literal ID="HonorsControl" runat="server" />
                           <sb:CoolTipInfo ID="CoolTipInfoHonorsControl" Content="Use to indicate if applicant has received honors awards, or participated in honors classes or honors programs. Applicants will be asked to provide details." runat="server" />
						
							<br />
						  </asp:PlaceHolder>
					  </div>
                </div>
                <br />  
               
                <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionAPCreditControl" 
                        runat="server" DisplayHeader="false" BuddyControl="APCreditContainerControl"/>
                    </div>
                    <div class="form-iceland right-columns">
                          <asp:PlaceHolder ID="APCreditContainerControl" runat="server">
                            <label for="APCreditControl">AP Credits Earned:</label>
                            <sandTrap:NumberBox ID="APCreditControl" runat="server" Precision="0"  MaxAmount="10000" MinAmount="0"/>
                            <elv:PropertyProxyValidator ID="APCreditValidator" runat="server" ControlToValidate="APCreditControl" PropertyName="APCreditsEarned" SourceTypeName="ScholarBridge.Domain.ScholarshipParts.SeekerProfileCriteria"/>
                            <br />
                          </asp:PlaceHolder>
                          </div>
                </div>
                <br />
                <div class="form-iceland-container">
                    <div class="form-iceland left-columns">
                        <sb:SingleAttributeSelectionControl id="AttributeSelectionIBCreditControl" 
                        runat="server" DisplayHeader="false" BuddyControl="IBCreditContainerControl"/>
                    </div>
                    <div class="form-iceland right-columns">
                          <asp:PlaceHolder ID="IBCreditContainerControl" runat="server">
                            <label for="IBCreditControl">IB Credits Earned:</label>
                            <sandTrap:NumberBox ID="IBCreditControl" runat="server" Precision="0"  MaxAmount="10000" MinAmount="0"/>
                            <elv:PropertyProxyValidator ID="IBCreditValidator" runat="server" ControlToValidate="IBCreditControl" PropertyName="IBCreditsEarned" SourceTypeName="ScholarBridge.Domain.ScholarshipParts.SeekerProfileCriteria"/>
                            <br />
                          </asp:PlaceHolder>
                          </div>
               </div>
               <br />                      
           </asp:PlaceHolder>

        <%--<asp:PlaceHolder runat="server" ID="NoSelectionContainerControl">
          <p>No Scholarship Match Criteria Selected. Please go to the <asp:LinkButton ID="BuildMatchCriteriaLinkControl" runat="server" OnClick="BuildMatchCriteriaLinkControl_Click">Selection Criteria</asp:LinkButton> tab to choose fields to be used for Scholarship selection</p>
        </asp:PlaceHolder>--%>
    </div>
</div>

