﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SeekerProfileProgress.ascx.cs" Inherits="ScholarBridge.Web.Common.SeekerProfileProgress" %>
 
<div style="width:230px; height:12px;" id="progressbar"  class=class="ui-progressbar ui-widget ui-widget-content ui-corner-all"></div>  
 
<div>
<asp:Label ID="lblPercent"  runat="server" Text="" /> <a href="<%= ResolveUrl("~/Seeker/Profile/") %>"> Edit Profile</a>
</div>






