﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs"
    Inherits="ScholarBridge.Web.Intermediary.Default" Title="Intermediary" %>

<%@ Register TagPrefix="sb" TagName="Login" Src="~/Common/Login.ascx" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="pictureAreaPlaceHolder" runat="server">
    <div>
        <asp:Image ID="Image1" ImageUrl="~/images/PicTopProviderHome.gif" Width="918px" Height="15px"
            runat="server" /></div>
    <div>
        <asp:Image ID="Image2" ImageUrl="~/images/PicBottomProviderHome.gif" Width="918px"
            Height="265px" runat="server" /></div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
    <div class="HomeContent">
        <!--Left floated content area starts here-->
        <img alt="" src="<%= ResolveUrl("~/images/PgTitle_SmarterSchoMatches.gif") %>" width="343px"
            height="28px"/>
        <p class="HighlightedTextMain">
            tlskjdlsfjd olor sit amet, consectetur adipiscing elit. Nullam viverra facilisis
            massa, sed porta justo dapibus vitae. Aenean congue pellentesque massa, at euismod
            lorem bibendum sit amet.
        </p>
        <input type="image" src="<%= ResolveUrl("~/images/Btn_GotoMyProfile.gif") %>" width="145px"
            height="32px" action="submit">
    </div>
    <!--Left floated content area ends here-->
    <!--Right Floated content area starts here-->
    <%--<div id="HomeContentRight">
                      <img src="<%= ResolveUrl("~/images/PageTitleSmall_ScholarshipCompleteness.gif") %>" width="181px" height="28px">
                      <div id="PercentageGraphic"></div>
                      <img src="<%= ResolveUrl("~/images/Percentile.gif") %>" width="248px" height="37px">
                      <P class="HighlightedTextRightContent">You’re almost there! We just need a bit more info about the scholarship.</P>
                      <P class="RightContentGreenText">>&nbsp;Finish Scholarship Info</P>
                 </div>--%>
    <!--Right Floated content area ends here-->
    <br />
    <br />
    <div id="Clear">
    </div>
    <hr>
    <div style='clear: both;'>
    </div>
    <!--The Three column starts here-->
    <div id="BoxWrapper">
        <div id="LeftBottomBox">
            <a href="<%= ResolveUrl("~/Provider/BuildScholarship") %>">
                <img src="<%= ResolveUrl("~/images/BottomBox01_BuildScholarships.gif") %>" width="262px"
                    height="51px"/>
                <img src="<%= ResolveUrl("~/images/ProviderBottomBox01.gif") %>" width="237px" height="86px"/>
            </a>
            <p>
                Lorem ipsum dolor sitamet, consectetur adipiscing elit. Vestibulum arcu lectus,
                congue et sagittis id, sollicitudin id elit.</p>
            <p class="IcoBoxArrow">
                <a href="<%= ResolveUrl("~/Provider/BuildScholarship") %>">
                    <img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px"/>&nbsp;Start
                    Building</a></p>
        </div>
        <div id="CenterBottomBox">
             <a href="<%= ResolveUrl("~/Intermediary/Scholarships") %>">
                <img src="<%= ResolveUrl("~/images/BottomBox02_ManageApplications.gif") %>" width="262px"
                    height="51px"/>
                <img src="<%= ResolveUrl("~/images/ProviderBottomBox02.gif") %>" width="237px" height="86px"/>
            </a>
            <p>
                Lorem ipsum dolor sitamet, consectetur adipiscing elit. Vestibulum arcu lectus,
                congue et sagittis id, sollicitudin id elit.</p>
            <p class="IcoBoxArrow">
                <a href="<%= ResolveUrl("~/Intermediary/Scholarships") %>">
                    <img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px"/>&nbsp;Start
                    Reviewing</a></p>
        </div>
        <div id="RightBottomBox">
            <a href="<%= ResolveUrl("~/Intermediary/Scholarships") %>">
                <img src="<%= ResolveUrl("~/images/BottomBox03_AwardScholarship.gif") %>" width="262px"
                    height="51px"/>
                <img src="<%= ResolveUrl("~/images/ProviderBottomBox03.gif") %>" width="237px" height="86px"/>
            </a>
            <p>
                Lorem ipsum dolor sitamet, consectetur adipiscing elit. Vestibulum arcu lectus,
                congue et sagittis id, sollicitudin id elit.</p>
            <p class="IcoBoxArrow">
                <a href="<%= ResolveUrl("~/Intermediary/Scholarships") %>">
                    <img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px"/>&nbsp;View
                    Applicants</a></p>
        </div>
    </div>
</asp:Content>
