HTML
{
	background-color: #f9f9f9;
}

/*Body HTML Structure Styles*/
Body
{
	background-color: #f9f9f9;
	text-align: center;
	width:960px;
	padding: 0px;
	margin: 0 auto;
	background-image: url(images/BGBody.gif);
}

/*Body Typography Styles*/
Body
{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color: #797979;
}

/*HTML Structure styles - Page wrapper.  This wrappes the entire page to the width specified*/
#PageWrapper
{
	width:960px;
	position:relative;
	padding:0px;
	margin: 0px;
	/*border: 1px solid #ccc;*/
	text-align: left;
	height: 100%;
}
/*HTML Structure - Header wrapper.*/
#HeaderWrapper
{
	
	border: 1px solid #ccc;
	background-color: #f9f9f9;
}

/*HTML Structure - Logo wrapper*/
#Logo
{
	float: left;
	background-color: #ffffff;
	background-color: #f9f9f9;
}

/*HTML Structure - Right area of the logo place wrapper*/
#LogoRight
{

	float: left;
	background-color: #ffffff;
	background-color: #f9f9f9;
}

/*Welcome text styles*/
/*Container for positioning the Welcome text*/

#WelcomeTextContainer
{
	position: absolute;
	top:38px;
	left:630px;
	background-color: #ffffff;
}

/*Welcome text typography styles*/

.WelcomeText
{
font-family: "Gotham Book",Arial, Helvetica, sans-serif;
font-size: 18px;
color:#a6a6a6;
font-style: italic;
float: left;
}

/*General Styles for HTML elements*/
img
{
	border: 0px;
}


/*Horizontal line style*/
.HorizontalLine
{
	background-image: url(images/HRLine.gif);
	background-repeat: repeat-x;
	width:100%;
}

/*HTML Structure - Content wrapper */
#ContentWrapper
{
	width:919px;
	background-color: #ffffff;
	/*border:2px solid green;*/
	margin:0px;
	padding:0px;
	float:left;
	height: 100%;
	
}

/*HTML structure for the inner content which is divided into right and left divs*/
#CenterContent
{
	/*border:1px solid red;*/
	width:875px;
	margin-left: 22px;
	background-color: #ffffff;
	float: left;
	margin: 0px;
	text-align:left;
}

/*HTML structure - Left shadow of the page*/
#LeftContentShadow
{
	width:22px;
	/*border:1px solid blue;*/
	/*height: 408px;*/
	float: left;
	background-image: url(images/LeftContentBgImage.gif);
	background-repeat: repeat-y;
	height: 100%;
	padding: 0px;
}

/*HTML structure - Right shadow of the page*/
#RightContentShadow
{
	width:22px;
	/*height: 408px;*/
	float: right;
	background-image: url(images/RightContentBgImage.gif);
	background-repeat: repeat-y;
	height: 100%;
	/*border:1px solid blue;*/

}

/*Styles for Typography - Larger emphasised font on the left side (Mission statement)*/
.HighlightedTextMain
{
	font-family: "Archer Semibold",Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #3d3d3d;
	font-size: 16px;
	padding-left: 10px;
}

/*HTML structure -inner content left*/
#HomeContentLeft
{
	width:544px;
	float: left;
	/*border: 1px solid #ccc;*/
}

/*HTML structure -inner content right*/
#HomeContentRight
{
	width: 299px;
	float: right;
	/*border: 1px solid #ccc;*/
}

/*Styles for Graphical elements */
#PercentageGraphic
{
	background-image: url(images/Ico_ScholarShipCompletenessPercentageGraphic.gif);
	background-repeat: no-repeat;
	position:absolute;
	top:425px;
	left:800px;
	width:50px;
	height: 50px;
}

#PrintIconContainer
{
float: right;
margin-right: 25px;
/*border: 1px solid red;*/

}

/*HTML structure*/
.PageTitle
{
	padding-top: 10px;
	padding-bottom: 10px;
}

/*HTML Typography styles - Smaller emphasised text on the right*/
.HighlightedTextRightContent
{
	font-family: Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 11px;
	color: #404040;
	line-height: 1.2em;
	/*padding-left: 10px;*/
}

/*Styles - Typography - Content smaller green text*/
.RightContentGreenText
{
	font-family: "Archer Bold",Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#98c53c;
	/*padding-left:10px;*/
}


/*Styles To clear left and right content*/
#Clear
{
	clear: both;
	display: block;
	overflow: hidden;
	width: 0;
	height: 0;

}

/*HTML structure style - 3 boxes(columns with images) in the home page.  */
#BoxWrapper
{
	width:854px;
	height: 284px;	
}

/*HTML structure - Left side box*/
#LeftBottomBox
{
	float: left;
	background-image: url(images/BoxSeparatorLine.gif);
	background-position: right;
	background-repeat: no-repeat;
	width:270px;
	height:287px;
	padding-right: 10px;
}

/*HTML typography - Text styles*/
#LeftBottomBox p
{
	Width:250px;
}

/*HTML structure - right side box*/
#RightBottomBox
{
	float: left;
	width:270px;
	height: 287px;
	padding-left: 10px;
}

/*HTML typography - Text styles*/
#RightBottomBox p
{
	width: 250px;
}

/*HTML structure - Center bottom box*/
#CenterBottomBox
{
	background-image: url(images/BoxSeparatorLine.gif);
	background-position: right;
	background-repeat: no-repeat;
	width:270px;
	height: 287px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

/*HTML typography */
#CenterBottomBox p
{
	width:250px;
	width: 245px;
}

/*HTML typography - Green text with Arrow styles*/
.IcoBoxArrow
{

widows: 14px;
color:#98c53c;
font-style:Italic;
padding-right:10px;
height: 14px;
font-weight:bold;
}

.IcoBoxArrow a
{
color:#98c53c;
text-decoration:none;
}

.IcoBoxArrow a:hover
{
color:#98c53c;
text-decoration:none;
}

.IcoBoxArrow a:visited
{
color:#98c53c;
text-decoration:none;
}


/*HTML Structure - Footer container*/
#Footer
{
	width:100%;
	width:800px;
	background-color: #ffffff;
	margin-top:25px;
	margin-bottom:25px;
}



/*HTML typography - Footer gray text*/
.GrayText
{
	color:#3d3d3d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: left;
	text-align: left;
}

/*HTML typography - Footer Links*/
.GreenFooterLinks
{
	color:#98c53c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left:33px;
	float: left;
	text-align: left;
}

.GreenFooterLinks a
{
	color:#98c53c;
	text-decoration:none;
}

.GreenFooterLinks a:hover
{
	color:#98c53c;
	text-decoration:none;
}

.GreenFooterLinks a:visited
{
	color:#98c53c;
	text-decoration:none;
}

/*Form styles*/
/*Button style using sliding door technique*/

/*Button Container*/
#ButtonContainerLeft
{
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
	float: left;
	width:100%;
}

#ButtonContainerRight
{
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
	float: right;
	width:50%;
}

/*Green button style*/
a.buttonGreen 
{
    /* Sliding right image */
   background: transparent url("images/button_right.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.buttonGreen span 
{
	/* Background left image */ 
	background: transparent url("images/button_left.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.buttonGreen:hover span
{
	text-decoration:none;
}


/*Gray button style*/
a.buttonGray 
{
    /* Sliding right image */
   background: transparent url("images/button_rightGray.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}
a.buttonGray span 
{
	/* Background left image */ 
	background: transparent url("images/button_leftGray.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.buttonGray:hover span
{
	text-decoration:none;
}

/*Button style end here*/


/*Navigation and link styles*/

/*Navigation and links*/
/*HTML structure - Top menu container*/
#MenuContainer
{
	position: absolute;
	height: 36px;
	top:102px;
	left:273px;
}

/*HTML Structure - Global nav*/
#GlobaNavLinksContainer
{
	position: absolute;
	top:68px;
	left:630px;
}

/*HTML typography - Global nav links*/
.GlobalNavLinks
{
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight: bold;
color:#98c53c;
}

/*HTML typography - Global nav links*/
.GlobalNavLinks a,.GlobalNavLinks a:hover, .GlobalNavLinks a:visited
{
color:#98c53c;
text-decoration: none;
}

/*HTML typography - Global nav links*/
.GlobalNavLinks .Blue
{
color:#5083ba;
}

.GlobalNavLinks .Blue a
{
color:#5083ba;
text-decoration: none;
}


/*Form Tabular Menu*/

#tabs {
	float:left;
	width:100%;
	font-size:14px;
	line-height:normal;
	border-bottom:1px solid #e5e5e5;
	margin-bottom:1em; /*margin between menu and rest of page*/
	overflow:hidden;
	margin-top:10px;
	overflow: hidden;
	}

#tabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
	
	}

#tabs li {
	display:inline;
	margin:0;
	padding:0;
	}

#tabs a {
	float:left;
	background-image: url(images/TabLeft.gif);
	background-position: left top;
	background-repeat: no-repeat;
	margin:0;
	padding:0 0 0 6px;
	text-decoration:none;
	font-family: "Gotham Light",Arial, Helvetica, sans-serif;;
	font-size: 14px;
	color:#4d6e0b;
	}

#tabs a span {
	float:left;
	display:block;
	background-image: url(images/TabRight.gif);
	background-repeat: no-repeat;
	background-position: right top; 
	padding:6px 15px 4px 6px;
	margin-right:2px;
	text-decoration:none;
	font-family: "Gotham Light",Arial, Helvetica, sans-serif;;
	font-size: 14px;
	color:#98c53c;
	
	}

/* Commented Backslash Hack hides rule from IE5-Mac \*/
#tabs a span {float:none;}

/* End IE5-Mac hack */
#tabs a:hover span {
color: #6ca001;
	}

#tabs a:hover {
	background-position:0% -35px;
	}

#tabs a:hover span {
	background-position:100% -35px;
	}

.FormHeader
{
font-family: "Gotham Light",Arial, Helvetica, sans-serif;
font-size: 24px;
color: #000000;
padding-top:10px;
padding-bottom: 10px;
}



/*General layouts for divs*/
/*Two column Divs*/
/*This is used in the subpages*/

#TwocolumnsubpageWrapper
{
	width:850px;
	width:800px;
	
}

#ColumnLeftSubpage
{
width:375px;
background-image: url(images/BoxSeparatorLine.gif);
background-repeat: no-repeat;
background-position: right top;
float: left;
padding-left:5px;
padding-top:5px;
}

#ColumnRightSubpage
{
width:375px;
padding-left:5px;
padding-top:5px;
float: right;
}

/*form styles*/
/*Style - Typography - Form header text styles*/
.FormHeader
{
	font-family: "Gotham Light",Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #000000; 
}

/*HTML Structure Styles*/

#Form
{
	width:80%;
}

/*testing form styles*/

form {  /* set width in form, not fieldset (still takes up more room w/ fieldset width */
  margin: 0;
  padding: 0;
  border: 0px;
}

form fieldset {
  / * clear: both; /*note that this clear causes inputs to break to left in ie5.x mac, commented out */
  
  padding: 10px;        /* padding in fieldset support spotty in IE */
  margin: 0;
}

form fieldset legend {
	font-size:1.1em;
                   
}

form label { 
	display: block;  /* block float the labels to left column, set a width */
	float: left; 
	width: 100px; 
	padding: 0; 
	margin: 5px 0 0; /* set top margin same as form input - textarea etc. elements */
	text-align: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif 
}


form input, form textarea {
	/* display: inline; inline display must not be set or will hide submit buttons in IE 5x mac */
	width:auto;      /* set width of form elements to auto-size, otherwise watch for wrap on resize */
	margin:5px 0 0 10px; 
	border: inset;
	border: 1px solid #e3e3e3;
	border-style: inset;
	color: #797979;/* set margin on left of form elements rather than right of
                              label aligns textarea better in IE */
}

textarea { overflow: auto; }

form br {
	clear:left; /* setting clear on inputs didn't work consistently, so brs added for degrade */
}


