﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="ChangeName.aspx.cs" Inherits="ScholarBridge.Web.Profile.ChangeName" Title="Profile | Change Name" %>

<%@ Register TagPrefix="sb" TagName="EditUserName" Src="~/Common/EditUserName.ascx" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="ImageContent" ContentPlaceHolderID="pictureAreaPlaceHolder" runat="server">
    <div><asp:Image ID="Image1" ImageUrl="~/images/PicTopProviderProfile.gif" Width="918px" Height="15px" runat="server" /></div>
    <div><asp:Image ID="Image2" ImageUrl="~/images/PicBottomProviderProfile.gif" Width="918px" Height="165px" runat="server" /></div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">

<div id="CenterContent">
        <div id="HomeContentLeft">
            
        </div>
        <div id="HomeContentRight">
            
        </div>
 
    <sb:EditUserName ID="editUserName" runat="server" 
        OnUserSaved="editUserName_OnUserSaved" 
        OnFormCanceled="editUserName_OnFormCanceled" />           
</div>                    
</asp:Content>
