﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="HowToBuildScholarship.aspx.cs" Inherits="ScholarBridge.Web.Provider.HowToBuildScholarship" Title="How To Build A Scholarship In ScholarBridge" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
<h2>How To Build A Scholarship In ScholarBridge</h2>
<p>Tutorial to be provided by Washington Scholarship Coalition</p>
</asp:Content>
