﻿<%@ Page Title="" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="ConfirmProvider.aspx.cs" Inherits="ScholarBridge.Web.Provider.ConfirmProvider" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
    <br />
    <br />
&nbsp;&nbsp;&nbsp;
    <asp:Label ID="lblStatus" runat="server" Text="Status"></asp:Label>
    <br />
    <br />
    <br />
</asp:Content>
