﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="BuildArticle.aspx.cs" Inherits="ScholarBridge.Web.Admin.PressRoom.BuildArticle" Title="Article" %>
<%@ Register src="~/Admin/PressRoom/ArticleEntry.ascx" tagname="ArticleEntry" tagprefix="sb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="ImageContent" ContentPlaceHolderID="pictureAreaPlaceHolder" runat="server">
    <div><asp:Image ID="Image1" ImageUrl="~/images/PicTopOrgScholarship.gif" Width="918px" Height="15px" runat="server" /></div>
    <div><asp:Image ID="Image2" ImageUrl="~/images/PicBottomOrgScholarship.gif" Width="918px" Height="170px" runat="server" /></div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">

<p>Press Room Administration</p>
<br />
<br />

 <sb:ArticleEntry ID="ArticleEntry1" runat="server" OnFormSaved="ArticleEntry1_OnFormSaved" OnFormCanceled ="ArticleEntry1_OnFormanceled"/>
</asp:Content>
