﻿<%@ Page Language="C#"  AutoEventWireup="true" CodeBehind="Login.aspx.cs" Inherits="ScholarBridge.Web.Login" Title="Login" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<%@ Register TagPrefix="sb" TagName="Login" Src="~/Common/Login.ascx" %>
<%@ Register src="~/Common/GlobalFooter.ascx" tagname="GlobalFooter" tagprefix="sb" %>
<HTML xmlns="http://www.w3.org/1999/xhtml"></HTML>

<Head>
<TITLE>The WashBoard.org</TITLE>
    <META name="FORMAT" content="text/html">
    <META name="CHARSET" content="ISO-8859-1">
    <META name="DOCUMENTLANGUAGECODE" content="en">
    <META name="DOCUMENTCOUNTRYCODE" content="us">
    <META name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <META name="COPYRIGHT" content="Copyright (c) 2009 by Washington Scholarship Coalition">
    <META name="SECURITY" content="Public">
    <META name="ROBOTS" content="index,follow">
    <META name="GOOGLEBOT" content="index,follow">
    <META name="Description" content="The WashBoard.org Provider Home ">
    <META name="Keywords" content="">
    <META name="Author" content="The WashBoard.org">
    <!-- Base keywords here-->
    <SCRIPT type="text/javascript" src="https://www.google.com/jsapi"></SCRIPT>
    <SCRIPT type="text/javascript">
        google.load("jquery", "1.3");
    </SCRIPT>
   <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tablesorter.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.pager.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tinysort.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.cookie.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/superfish.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
        <%--<link rel="stylesheet" href="<%= ResolveUrl("~/styles/main.css") %>" type="text/css" />--%>
        <LINK href="<%= ResolveUrl("~/styles/WSCStyles.CSS") %>" rel="stylesheet" type="text/css" media="All"/>
</HEAD>
<BODY>
<form id="default" runat="server">
<!--Page wrapper starts here-->
<DIV id="EntirePageWrapper">


<DIV id="HeaderWrapper">
         <img src="<%= ResolveUrl("~/images/LogoMainHomepage.gif") %>" width="919px" height="151px" border="0" usemap="#Map"><map name="Map"><area shape="rect" coords="37,9,236,133" href="<%= ResolveUrl("~/") %>" alt="theWashBoard.org"></map><img src="<%= ResolveUrl("~/images/PicBottomOverAllHomepage.gif") %>" width="919px" height="497px">
         <!--  <DIV id="Logo"><img src="images/LeftShadow_Logo.gif" width="22px" height="137px"><A href="WSCHomeLoggedIn.htm"><img src="images/LogoTheWashBoard.gif" width="234px" height="137px"></A></DIV>
          <DIV id="LogoRight"><img src="images/LogoRight.gif" width="640px" height="137px"><img src="images/RightShadow_Logo.gif" width="22px" height="137px;"></DIV> -->
  </DIV>

     <!--Login text starts here-->
     <DIV id="LoginContainer">

          <%--<TABLE cellpadding="0" cellspacing="0" border="0">
                 <TR>
                     <TD colspan="3" class="LoginHeaderText">Returning User? Log in here.</TD>
                 </TR>
                 <TR>
                     <TD><input type="text" value="Email Address"></TD><TD><input type="text" value="password"></TD><TD><A href="#"><img src="<%= ResolveUrl("~/images/Btn_OverAllHomepageLogin.gif") %>" width="91px" height="33px"></A></TD>
                 </TR>
                 <TR>
                     <TD colspan="3" class="LoginErrorMessage">(!) Invalid email or password. Please try again.</TD>
                 </TR>
          </TABLE>--%>
          <sb:Login ID="loginForm" runat="server" />

     </DIV>
     <!--Login Text ends here-->
      <DIV id="Clear"></DIV>
      <!--Branding picture starts here-->

       <!-- <DIV><img src="images/PicTopProviderHome.gif" width="918px" height="15px"></DIV>
       <DIV><img src="images/PicBottomProviderHome.gif" width="918px" height="265px"></DIV> -->
      <!--Branding picture ends here-->

      <!--This is the outer most wrapper 01 starts here-->
      <DIV id="ContentWrapper01">
           <DIV id="LeftPageShadow"><img src="<%= ResolveUrl("~/images/LeftContentShadow.gif") %>"></DIV>
           <DIV id="RightPageShadow"><img src="<%= ResolveUrl("~/images/RightContentShadow.gif") %>"></DIV>
           <!--This is content wrapper 02 starts here-->
           <DIV id="ContentWrapper02">

           
                 <DIV id="Clear"></DIV>
                <!--  <HR> -->

                <div style='clear: both;'></DIV>


                 <!--The Three column starts here-->
                 <DIV id="BoxWrapper">
                      <DIV id="LeftBottomBox">
                           <Img src="<%= ResolveUrl("~/images/HomepageBottomBox01_ForSeekers.gif") %>" width="262px" height="41px">
                           <Img src="<%= ResolveUrl("~/images/OverallHomepageBottomBox01.gif") %>" width="237px" height="86px">

                           <P>Create a profile and let us do the rest. We will match you with scholarships you are most likely to qualify for and applying online is easy. <BR><BR></P>
                           <p class="IcoBoxArrow"><A href="<%= ResolveUrl("~/Seeker/Anonymous.aspx") %>"  ><img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px">&nbsp;Get Started</A></P>

                      </DIV>
                      <DIV id="CenterBottomBox">
                            <img src="<%= ResolveUrl("~/images/HomepageBottomBox02_ForIntermediaries.gif") %>" width="262px" height="41px">
                            <Img src="<%= ResolveUrl("~/images/OverallHomepageBottomBox02.gif") %>" width="237px" height="86px">
                            <P>Administer scholarships for providers. We give you the tools to connect students with scholarships to ensure much needed funds are awarded.</P>
                            <p class="IcoBoxArrow"><A href="<%= ResolveUrl("~/Intermediary/Anonymous.aspx") %>" ><img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px">&nbsp;Get Started</A></P>
                      </DIV>
                      <DIV id="RightBottomBox">
                            <img src="<%= ResolveUrl("~/images/HomepageBottomBox03_ForProviders.gif") %>" width="262px" height="41px">
                            <Img src="<%= ResolveUrl("~/images/OverallHomepageBottomBox03.gif") %>" width="237px" height="86px">
                            <P>Post your scholarship to reach a larger group of students. We make reviewing and evaluating applications easy.  Find the next recipients of your scholarship.</P>
                            <p class="IcoBoxArrow"><A href="<%= ResolveUrl("~/Provider/Anonymous.aspx") %>" ><img src="<%= ResolveUrl("~/images/Ico_GreenArrow.gif") %>" width="14px" height="14px">&nbsp;Get Started</A></P>
                      </DIV>



                 </DIV> <BR>

                  <DIV id="Clear"></DIV>
                 <HR>


                 <DIV id="Footer">
                    <sb:GlobalFooter ID="GlobalFooter1" runat="server" />
                </DIV>
           </DIV>
           <!--This is content wrapper 02 ends here-->




      </DIV>
      <!--This is the outer most wrapper 01 ends here-->


</DIV>
<!--Page wrapper ends here-->
</form> 
</BODY>
</HTML>