﻿@import url("reset.css");
#GlobaNavLinksContainer, .pageNav, #MenuContainer, #OrganizationNameContainer, #LeftPageShadow, #RightPageShadow, #WelcomeTextContainer, #HeaderWrapper, #branding-picture-area{display:none;}
#PreviewOptions{float:right; height:110px;}
body, .main-wrapper, form{background-color:White;}
#PreviewOptions a 
{
    clear:both;
    display:block;
    margin:4px 7px;    
    width:18em;
}

#ScholarshipHeader{vertical-align:middle; float:left;}

th{font-weight:normal;}
#Logo{margin-bottom:10px; vertical-align:middle;}

div.attribute{clear:left; padding:7px 0px;}
div.attribute > div{float:left;}

/* Title child of attribute (first child)*/
div.attribute > div:first-child{text-align:right; width:200px; margin-right:10px; font-weight:bold;}
div.attribute > div:first-child.full{text-align:left; width:100%; font-weight:bold;}

/* Content child of attribute (second child)*/
div.attribute > div:first-child + div{width:700px;}
div.attribute ul {list-style-type:disc; list-style-position:inside;}

h1
{
    font-size:2.25em;
    padding:.75em .25em .25em .25em;
    text-align:center;
    color:Black;
}
h2
{
    clear:left;
    padding:1em 0px .25em 0px;
    font-size:1.5em;
    color:#333;
}
h3{clear:left; padding-top:1em;}