﻿<%@ Master MasterPageFile="~/Default.Master" Language="C#" AutoEventWireup="true" CodeBehind="Seeker.Master.cs" Inherits="ScholarBridge.Web.SeekerMasterPage" %>
<%@ Register src="~/Common/SeekerProfileProgress.ascx" tagname="SeekerProfileProgress" tagprefix="sb" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
    <asp:ContentPlaceHolder id="head" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
    <asp:ContentPlaceHolder id="bodyContentPlaceHolder" runat="server"></asp:ContentPlaceHolder>
</asp:Content>
<asp:Content ID="Content3" ContentPlaceHolderID="rightBarContentPlaceholder" runat="server">
    <sb:SeekerProfileProgress ID="SeekerProfileProgress2" runat="server" />
    <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server"></asp:contentplaceholder>
</asp:Content>
