﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="External.Master.cs" Inherits="ScholarBridge.Web.ExternalMasterPage" %>

<%@ Register src="Common/WelcomeUser.ascx" tagname="WelcomeUser" tagprefix="sb" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title></title>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.min.js") %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
    <link rel="stylesheet" href="~/styles/main.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="~/styles/printable.css" type="text/css" media="print"  />
</head>
<body>
    <form id="default" runat="server">
   <div id="container">
        <div id="banner">
            <asp:Image ID="Image1" runat="server" ImageUrl="~/images/logo.png" AlternateText="bridge logo" Height="75" Width="500" />
            <h1>ScholarBridge</h1>
            <div id="loginStatus">
                
                
                <asp:LoginView ID="loginView" runat="server">
                    <LoggedInTemplate>
                        <sb:WelcomeUser ID="WelcomeUser1" runat="server" /> 
                    </LoggedInTemplate>
                </asp:LoginView>
                <asp:LoginStatus ID="LoginStatus1" runat="server" />
            </div>
        </div>
        <div id="content">
            <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
            </asp:ContentPlaceHolder>
        </div>
        <div id="right">
        </div>
        <div id="footer">
            <p>Copyright &copy; 2009 Washington Scholarship Coalition. All rights reserved.</p>
            <p><asp:HyperLink ID="tcLnk" runat="server" NavigateUrl="~/Terms.aspx" Target="_blank" class="terms">Terms &amp; Conditions</asp:HyperLink></p>
        </div>
    </div>
    </form>
</body>
</html>
