﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master"  AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ScholarBridge.Web.Intermediary.Admin.Default" %>
<%@ Register TagPrefix="sb" TagName="IntermediaryRelationshipList" Src="~/Common/IntermediaryRelationshipList.ascx" %>
<%@ Register TagPrefix="sb" TagName="OrgUserList" Src="~/Common/OrgUserList.ascx" %>
<%@ Register TagPrefix="sb" TagName="UserDetailsCompact" Src="~/Common/UserDetailsCompact.ascx" %>
<%@ Register TagPrefix="sb" TagName="EditOrganization" Src="~/Common/EditOrganization.ascx" %>
<%@ Register Assembly="Web" Namespace="ScholarBridge.Web.Common" TagPrefix="sbCommon" %>
<%@ Register TagPrefix="sb" TagName="OrganizationAdminPageHeader" Src="~/Common/OrganizationAdminPageHeader.ascx" %>

<asp:Content ID="ImageContent" ContentPlaceHolderID="pictureAreaPlaceHolder" runat="server">
    <div><asp:Image ID="Image1" ImageUrl="~/images/PicTopOrgScholarship.gif" Width="918px" Height="15px" runat="server" /></div>
    <div><asp:Image ID="Image2" ImageUrl="~/images/PicBottomOrgProfile.gif" Width="918px" Height="170px" runat="server" /></div>
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
<sb:OrganizationAdminPageHeader runat="server"></sb:OrganizationAdminPageHeader>

<div class="tabs">
            <ul>
                <li><a href="#organization-tab"><span>Organization</span></a></li>
                <li><a href="#user-tab"><span>Users</span></a></li>
                <li><a href="#relationship-tab"><span>Relationships</span></a></li>
            </ul>
            <div id="organization-tab">
               <p class="FormHeader">Organization Information</p>
            
                <sb:editorganization ID="editOrg" runat="server" 
                            OnOrganizationSaved="editOrg_OnOrganizationSaved" />
               
                 <hr />  
                 <p></p>         
                <p class="FormHeader">Organization Administrator</p>
                <sb:UserDetailsCompact ID="adminDetails1" runat="server" />
                
            </div>
                  
            <div id="user-tab">
                <p class="FormHeader">Organization Administrator</p>
                <sb:UserDetailsCompact ID="adminDetails" runat="server" />
               
                <P>Only the Organization Administrator has access to update information and add users for your organization. </p>
                <hr />
                <p class="FormHeader">Organization Users</p>
                <sbCommon:AnchorButton  ID="createUserLink" runat="server" Text="Create User" />
                 <div id="Clear" ></div>
                <sb:OrgUserList id="orgUserList" runat="server" LinkTo="/Intermediary/Users/Show.aspx" />
                <br />
                    
            </div>
                  
            <div id="relationship-tab">
                <p class="FormHeader">Organization Relationships</p>
                    <p>You may request a relationship with a Provider organization. The Provider organization must approve your request. Establishing a relationship with a Provider will let them designate you as a scholarship intermediary on specific scholarships, granting you administrative access to the scholarship. You should contact the Organization directly to determine how you will assist in the administration of the scholarship.</p>
                     
                         
                     
                 <sbCommon:AnchorButton ID="addRequestLink" runat="server" Text="Add Request" />
                 <div id="Clear" ></div>
                 <sb:IntermediaryRelationshipList ID="relationshiplist" runat="server" InactivateLinkTo="~/Intermediary/Relationships/Inactivate.aspx" />
            </div>
</div>
</asp:Content>