﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.Master.cs" Inherits="ScholarBridge.Web.DefaultMasterPage" %>
<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register src="Common/WelcomeUser.ascx" tagname="WelcomeUser" tagprefix="sb" %>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title runat="server">ScholarBridge</title>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>
    
    <asp:PlaceHolder id="ScreenViewHeadContainer" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tablesorter.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.pager.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tinysort.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.cookie.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/superfish.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
    
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/main.css") %>" type="text/css" />
	    <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>

    <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/js/print-view.js") %>"></script>
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css" media="screen"/>
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css" media="print"/>
	    <asp:ContentPlaceHolder ID="PrintViewHead" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>

</head>
<body>
    <form id="default" runat="server">
    <div id="container">
        <div id="banner">
            <asp:Image ID="logo" runat="server" ImageUrl="~/images/logo.png" AlternateText="bridge logo" Height="75" Width="500" />
            <h1>ScholarBridge</h1>
            <div id="loginStatus">
                
                <asp:LoginView ID="loginView" runat="server">
                    <LoggedInTemplate>
                        <sb:WelcomeUser ID="WelcomeUser1" runat="server" /> 
                    </LoggedInTemplate>
                </asp:LoginView>
                <asp:LoginStatus ID="LoginStatus1" LogoutAction="RedirectToLoginPage" runat="server" />
            </div>
        </div>

        <div id="content">
            <div id="mainMenu">
            <asp:SiteMapDataSource ID="menuDataSource" runat="server" SiteMapProvider="secureProvider" ShowStartingNode="false"/>
            <asp:Menu ID="mainMenu" runat="server" DataSourceID="menuDataSource" Orientation="Horizontal"  />
            </div>
            <br />
        
            <sb:SuccessMessageLabel ID="SuccessMessageLabel1" runat="server"/>

            <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
            </asp:ContentPlaceHolder>
        </div>

        <div id="right">
            <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
            </asp:contentplaceholder>
        </div>
        
        <div id="footer">
            <p>Copyright &copy; 2009 Washington Scholarship Coalition. All rights reserved.</p>
            <p><asp:HyperLink ID="tcLnk" runat="server" NavigateUrl="~/Terms.aspx" Target="_blank" class="terms">Terms &amp; Conditions</asp:HyperLink></p>
            <p><asp:HyperLink ID="pressLnk" runat="server" NavigateUrl="~/PressRoom/" Target="_blank">Press Room</asp:HyperLink></p>
        </div>
    </div>
    </form>
</body>
</html>
