﻿/*  TheWashBoard Global Style Sheet */

/* IE6 png transperancy fix */
img, div, a { behavior: url("/images/iepngfix.htc") }
body
{
    font-family :Arial,Helvetica, sans-serif; 
    font-size: 11px;
    color: #797979;
    text-align:left;
}

hr{border-width:1px 0px 0px 0px; border-color:#ccc; border-style:solid; margin:5px auto; width:95%;}
img{ border:none;}

.main-wrapper /* DIV wrapping the page. Immediate child of <body>.  */
{
	width:918px;
	margin:0 auto;
    background-color:#f9f9f9;
}

#Header
{
    position:relative;
    background-image:url("/images/header/top_background.png"); 
    background-repeat:no-repeat; 
    width:872px; 
    height:157px;
    z-index:2;
    padding:0 22px;
    background-color:transparent;
}

#PageImage  
{
    z-index:1;
    position:relative;
    top:-20px;
    padding-left:24px;
}

#PageContent-Wrapper
{
    position:relative;
    z-index:3;
    top:-30px;
    width:900px;
    background-image:url("/images/header/bottom_background.png");
    background-repeat:no-repeat;
    min-height:300px;
    padding:10px;
}
#PageContent
{
    background-color:#ffffff;
    padding:12px 26px;
}
#Header #Navigation
{
    position:absolute;
    bottom:20px;
    right:20px;
}

p.hookline
{
    font-style:italic; 
    font-size:17px; 
    color:Black;
}

/* Generates a three column layout (immediate childs are 3 divs)*/
div.three-column{clear:both; border-top:1px solid #CCCCCC; margin-top:20px; padding-top:20px;}

div.three-column > div
{
    width:240px;
    padding-left:15px;
    padding-right:25px;
    float:left;
}

div.three-column > div:first-child, div.three-column > div:first-child + div
{
   background-image:url("/images/BoxSeparatorLine.gif");
   background-position:right;
   background-repeat:no-repeat;
}

#Footer
{
    font-size:11px; 
    clear:both; 
    padding:10px 0px; 
    border-top:1px solid lightgray; 
    margin-top:25px;
}
#Search{float:right; margin-top:60px;}

#MasterPageLogin #or-create-account{display:none;}
#MasterPageLogin h2{color:White;}

#LoginForm
{
    float:right; width:260px;
    margin-left:30px;
}

#LoginForm input
{
    width:250px;
    margin:5px 0px;
}

#LoginForm .button
{
    margin:8px 0px;
    background-image: url("/images/Sign-in.png");
    background-repeat: no-repeat;
    border:none;
    background-color:White;
    width:94px;
    height: 31px;
}


a.circle-icon-link
{
    display:block;
    background-image:url("/images/Ico_GreenArrow.gif");
    background-position:left;
    font-style:italic;
    font-weight:bold;
    background-repeat:no-repeat;
    padding-left:19px;
    height:14px;
}

a{color:#98C53C; text-decoration:none;}


.button{cursor:pointer;}
.button.disabled{cursor:default;}

/* Green buttons */
a.button{
    background-image:url("/images/button_left.gif");
    background-position:left;
    background-repeat:no-repeat;
	display: block;
	float: left;
	height: 29px; 
	text-decoration: none;
	color: #ffffff;
	background-color:#92b843;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}

a.button span{
    display:block;
	background-image:url("/images/button_right.gif");
    background-position:right;
    background-repeat:no-repeat;	
	line-height: 17px;
	padding: 6px 15px;
	white-space:nowrap;
} 

a.button.disabled
{
   background-image:url("/images/button_leftGray.gif");
}

a.button.disabled span
{
    background-image:url("/images/button_rightGray.gif");
}

#PrintPreview{float:right;}

br.clear{clear:both;}
