﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="WelcomeUser.ascx.cs" Inherits="ScholarBridge.Web.Common.WelcomeUser" %>
Welcome: 
<asp:HyperLink ID="profileLnk" runat="server" NavigateUrl="~/Profile/Default.aspx">
<asp:Label ID="LoginFirstLastName" runat="server"></asp:Label>                   
</asp:HyperLink>