﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="GlobalMenu.ascx.cs" Inherits="ScholarBridge.Web.Common.GlobalMenu" %>
<%@ Register src="UnreadMessageLink.ascx" tagname="UnreadMessageLink" tagprefix="sb" %>
<DIV class="GlobalNavLinks">
<asp:HyperLink runat="server" ID="MyHomeLink" Text="My Home" /> &nbsp; | &nbsp; <sb:UnreadMessageLink ID="UnreadMessageLink1" runat="server" />
                 <asp:LoginStatus ID="LoginStatus1" LogoutAction="RedirectToLoginPage" runat="server" />
           
 </DIV>

