﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="BuildArticle.aspx.cs" Inherits="ScholarBridge.Web.Admin.PressRoom.BuildArticle" Title="Article" %>
<%@ Register src="~/Admin/PressRoom/ArticleEntry.ascx" tagname="ArticleEntry" tagprefix="sb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">

<p>Press Room Administration</p>
<br />
<br />

 <sb:ArticleEntry ID="ArticleEntry1" runat="server" OnFormSaved="ArticleEntry1_OnFormSaved" OnFormCanceled ="ArticleEntry1_OnFormanceled"/>
</asp:Content>
