﻿@import url("reset.css");
@import url("jquery-ui-1.7.1.custom.css");

body
{
	background-color: #e1ddd9;
	font-size: 11px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
}

a
{
	color: #000066;
}

a:visited
{
	color: #333399;
}

a:hover
{
	color: #564b47;
}

a:active
{
	color: #000000;
}

h1
{
	font-size: 11px;
	text-transform: uppercase;
	background-color: #99CCFF;
	border-top: 1px solid #564b47;
	border-bottom: 1px solid #564b47;
	padding: 5px 15px;
}
h2
{
	font-size: 20px;
	font-weight: normal;
	padding: 5px 10px 5px 0;
}
h3
{
	padding: 5px 10px 5px 0;
}
h4
{
	font-size: 11px;
	padding: 5px 10px 5px 0;
}
h5
{
	padding: 5px 10px 5px 0;
}

dt  
{
	float: left;
	margin: 0 0 0 0;
	padding: .5em;
	font-weight: bold;
}

dt { clear: both; }

dt:after 
{
	font-weight: bold;
	content: ": ";
}

dd
{
	float: left;
	margin: 0 0 0 0;
	padding: .5em;
}

fieldset  
{
	border: 1px solid #222; 
	padding: 10px;
}

legend {
	padding: 0.5em 1em;
	font-weight: bold;
	text-align: right;
}


img.download
{
	vertical-align: middle;
}

/* ----------forms-------- */
label, input, textarea
{
	display: block;
	width: 200px;
	float: left;
	margin-bottom: 5px;
}

textarea
{
	width: 250px;
	height: 150px;
}
.longtextarea
{
	display: block;
	width: 400px;
	float: left;
	margin-bottom: 5px;
}

input[type="hidden"]
{
	display: none;
}

input[type="checkbox"], input[type="radio"]
{
	width: 20px;
}

input[type="submit"]
{
	width:auto;
}

textarea.othercontroltextarea
{
	width: 250px;
	float: left;
	height: 70px;
	margin-bottom: 5px;
}

input.othercontroltextarea
{
	width: 250px;
	float: left;
	margin-bottom: 5px;
}

.othercontrollabel
{
	float: left;
	margin-bottom: 5px;
	width: 70px;
	margin-left: 80px;
}

/* ----------container to center the layout-------- */
#container
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

/* ----------banner for logo-------------- */
#banner
{
	text-align: right;
	background-color: #e1ddd9;
}
#banner img
{
	padding: 10px 0px;
}

/* The ie/pc pecularity */

/* --------------left and right navi------------- */
#right
{
	width: 200px;
	float: right;
	padding: 5px 0 0 5px;
	border-left: thin solid black;
	border-right: thin solid black;
}
/* -----------------content--------------------- */
#content
{
	width: 775px;
	float: left;
	position: relative;
	padding: 5px 5px 0 10px;
	background-color: #ffffff; /* color of the content column */
}
div#content, div#right { 
	min-height:600px;
	height: expression(this.scrollHeight > 600 ? "auto":"600px"); 
}
#content > p
{
	padding: 5px 10px 5px 0;
}
pre
{
	font-size: 12px;
	padding: 5px 10px;
}

.subsection 
{
	padding-left: 15px;
}

br
{
	clear: left;
}

#banner #loginStatus
{
	float: left;
	margin-top: -35px;
}

div.clear
{
	clear: both;
}

div.search 
{
	text-align:left;
	float:right;
}

.loginTitleText
{
	font-weight: bold;
	text-align: left;
	border-bottom: thin dashed black;
	width: 100%;
	margin-bottom: 10px;
}

/* view-only pages*/
.viewLabel 
{
	font-weight: bold;
	float: left;
	width: 120px;
	padding: 5px 0 5px 0;
}

.viewValue 
{
	float: left;
	text-align: left;
	width: 600px;
	padding: 5px 0 5px 0;
}

/* reset div resets the sizing of inputs and textarea */
div.resetSizing
{
	
}

div.resetSizing label, div.resetSizing input, div.resetSizing  textarea
{
	width:auto;
	float:none;
	display:inline-block;
}


/* Validation issue list */
div.issueList {
}

div.issueList ul {
	list-style-image: url(../images/bullet_red.png); 
}

div.issueList li {
	margin-left: 20px;
	margin-bottom: 3px;
	font-size: 0.9em;
	color: Red;
}

/* control panel */

div.controlPanel { 
}


div.controlPanel label {
  width: auto;
  height: 22px;
  vertical-align: middle;
  margin-right: 2px;
}

div.controlPanel input {
  width: 100px;
  margin-right: 2px;
}

div.controlPanel input[type="checkbox"] {
  width: 20px;
}

div#legends
{
	margin-bottom: 10px;
}

/* entity title stripe */
div.entity-title 
{
	min-height: 25px;
}

div.entity-title .title {
	font-weight: bold;
	float: left;
	display: inline;
	line-height: 25px;
}

div.entity-title .addition-info {
	font-size: 0.9em;
	float: left;
	display: inline;
	line-height: 25px;
}

div.print, a.print-view {
	background-image: url(../images/print.png);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 24px;
	width: 60px;
	float: right;
	display: inline;
}

div.entity-title br { clear: both;}

/* tables */
th
{
	background: #fff9d8;
	border: thin solid #F6E595;
	text-align: left;
	padding: 2px 10px 2px 10px;
}
tr.row 
{
	background: #fff;
	border-top: thin solid #111;	
}
tr.altrow
{
	background: #eee;
	border-top: thin solid #111;
}
table.sortableTable
{
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.sortableTable thead tr th, table.sortableTable tfoot tr th
{
	background-color: #fff9d8;
	border: 1px solid #FFF;
	padding: 4px;
}
table.sortableTable thead tr .header
{
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
	background-position: center left;
	padding-left:20px;
	cursor: pointer;
}
table.sortableTable tbody td
{
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sortableTable tbody tr.odd td
{
	background-color: #F0F0F6;
}
table.sortableTable thead tr .headerSortUp
{
	background-image: url(../images/asc.png);
}
table.sortableTable thead tr .headerSortDown
{
	background-image: url(../images/desc.png);
}
table.sortableTable thead tr .headerSortDown, table.sortableTable thead tr .headerSortUp
{
	background-color: #F6E595;
}

/* tables */
.requiredAttributeIndicator
{
	padding-left: 10px;
	color: Red;
}

.additionInfoText
{
	color: Blue;
	font-size: .8em;
	padding: 0px 50px 0px 50px;
}

.errorMessage
{
	display: block;
	width: 50%;
	padding: 2px 10px 2px 10px;
	background-color: #F99;
	border: thin solid #933;
	margin-bottom: 5px;
}

div.successMessage
{
	display: block;
	width: 50%;
	padding: 2px 10px 2px 10px;
	background-color: #9F6;
	border: thin solid #390;
	margin-bottom: 5px;
}

div.successMessage .closeBox
{
	float: right;
	vertical-align: middle;
}

div.close 
{
	margin-top: 20px;
	text-align: center;
}

/* Profile */
.profileImage
{
	float: left;
	display: block;
}

#memberInfo
{
	float: left;
	padding-left: 15px;
}

ul.pageNav
{
	list-style: none;
	padding-left: 0;
}

.noteBene
{
	background: #FFC;
	border: thin solid #C93;	font-style: italic;
	padding: 2px 10px 2px 10px;
}
.adminNoteDisplay
{
	display: block;
	border: 1px solid Gray;
	display: block;
	width: 500px;
	height: 100px;
	float: left;
	margin-bottom: 5px;
}
.adminNoteEntry
{
	display: block;
	width: 495px;
	height: 60px;
	float: left;
	margin-bottom: 5px;
}

.pager
{
	clear: both;
	margin: 0 auto;
}
.pagerlink
{
	border: solid 1px white;
	display: inline-block;
	margin-right: 0.4em;
	padding: 0.4em 0.7em;
	text-decoration: none;
	line-height: normal;
	font-weight: bold;
	color: Black;
}

.pagerlink:hover
{
	border: solid 1px black;
}

.pagerlabel
{
	border: solid 1px white;
	display: inline-block;
	margin-right: 0.4em;
	padding: 0.4em 0.7em;
	text-decoration: none;
	line-height: normal;
	background-color: black;
	font-weight: bold;
	color: white;
}

/* tables */
table.viewonlyTable th
{
	background: #fff9d8;
	text-align: left;
	width: 180px;
	padding: 2px 10px 2px 10px;
	vertical-align: top;
	font-size: 12px;
}
table.viewonlyTable tr.row
{
	background: #eee;
}
table.viewonlyTable
{
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.viewonlyTable thead tr th, table.viewonlyTable tfoot tr th
{
	background-color: #eee;
	padding: 4px;
}
table.viewonlyTable tbody tr td
{
	border: 1px solid #000;
	padding: 4px;
	font-size: 12px;
}

/* tables */

/*** menu styles ***/
div#mainMenu 
{
	width: 100%;
	margin-bottom: 10px;
	background-color: #ccc;
	height: 30px;
}
.menu, .menu * {
	list-style:		none;
}
.menu {
	line-height:	1.0;
}
.menu ul {
	position:		absolute;
	top:			-999em;
	width:			10em; /* left offset of submenus need to match (see below) */
}
.menu ul li {
	width:			100%;
	z-index:		99;
}
.menu li:hover {
	visibility:		inherit; /* fixes IE7 'sticky bug' */
}
.menu li {
	float:			left;
	position:		relative;
	z-index:		99;
}
.menu a {
	display:		block;
	position:		relative;
}
.menu li:hover ul,
.menu li.sfHover ul {
	left:			0;
	top:			2.5em; /* match top ul list item height */
	z-index:		99;
}
ul.menu li:hover li ul,
ul.menu li.sfHover li ul {
	top:			-999em;
}
ul.menu li li:hover ul,
ul.menu li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}
ul.menu li li:hover li ul,
ul.menu li li.sfHover li ul {
	top:			-999em;
}
ul.menu li li li:hover ul,
ul.menu li li li.sfHover ul {
	left:			10em; /* match ul width */
	top:			0;
}

/*** DEMO SKIN ***/
.menu {
	float:			left;
	margin-bottom:	1em;
}
.menu a {
	border-right:	1px solid #fff;
	border-top:		1px solid #fff;
	padding: 		.75em 1em;
	text-decoration: none;
}
.menu a, .menu a:visited  { /* visited pseudo selector so IE6 applies text colour*/
	color:			#13a;
}
.menu li {
	background:		#ccc;
}
.menu li li {
	background:		#ccc;
}
.menu li li li {
	background:		#ccc;
}
.menu li:hover, .menu li.sfHover,
.menu a:focus, .menu a:hover, .menu a:active {
	background:		#ddd;
	outline:		0;
}

/*** arrows **/
.menu a.sf-with-ul {
	padding-right: 	2.25em;
	min-width:		1px; /* trigger IE7 hasLayout so spans position accurately */
}
.sf-sub-indicator {
	position:		absolute;
	display:		block;
	right:			.75em;
	top:			1.05em; /* IE6 only */
	width:			15px;
	height:			15px;
	text-indent: 	-999em;
	overflow:		hidden;
	background-image: url(images/ui-icons_222222_256x240.png);
	background-position: -64px -16px;
}
a > .sf-sub-indicator {  /* give all except IE6 the correct values */
	top:			.8em;
	background-position: -64px -16px;
}
/* apply hovers to modern browsers */
a:focus > .sf-sub-indicator,
a:hover > .sf-sub-indicator,
a:active > .sf-sub-indicator,
li:hover > a > .sf-sub-indicator,
li.sfHover > a > .sf-sub-indicator 
{
	background-position: -64px -16px;
}

/* point right for anchors in subs */
.menu ul .sf-sub-indicator  
{
	background-position: -64px -16px;
}
.menu ul a > .sf-sub-indicator  
{
	background-position: -64px -16px;
}
/* apply hovers to modern browsers */
.menu ul a:focus > .sf-sub-indicator,
.menu ul a:hover > .sf-sub-indicator,
.menu ul a:active > .sf-sub-indicator,
.menu ul li:hover > a > .sf-sub-indicator,
.menu ul li.sfHover > a > .sf-sub-indicator {
	background-position: -64px -16px;
}

/*  ----------------footer---------------------- */
#footer
{
	width: 790px;
	clear: left;
	padding-top: 5px;
	text-align: right;
}

#footer > p 
{
	padding: 5px 0 5px 0;
}

.only-in-print
{
	display: none;
}

.vertical-indent-level-1
{
	padding-top: 10px;
	padding-bottom: 10px;
}
.captchaControl
{
    border: thin solid #999966;
    padding: 2px 10px 2px 10px;
    vertical-align: middle;
    text-align: center;
    width: 400px;
    
}
.searchbox
{
	background: #FFC;
	border: thin solid #C93;	font-style: italic;
	padding: 3px 3px 3px 3px;
	width:230px;
	height:24px;
}

/* reset div resets the sizing of labels inside checkboxlist control */

div.lookupItemCheckboxList label
{
	width:400px;
	margin-top:5px;
	 
	 
}
