﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="FlagEnumCheckBoxList.ascx.cs" Inherits="ScholarBridge.Web.Common.FlagEnumCheckBoxList" %>
<asp:CheckBoxList ID="CheckBoxList" runat="server">
</asp:CheckBoxList>
<br />
<asp:CustomValidator ID="SelectNoneValidator" runat="server" 
  ErrorMessage="Select atleast one" 
  onservervalidate="SelectNoneValidator_ServerValidate"></asp:CustomValidator>
<br />
