﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ProviderMenu.ascx.cs" Inherits="ScholarBridge.Web.Common.ProviderMenu" %>
<A href="<%= ResolveUrl("~/Provider/Scholarships") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurScholarshipsInactive.gif") %>" width="179px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Provider/Admin") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Profile") %>"><img src="<%= ResolveUrl("~/images/NavProvider_MySettingsInactive.gif") %>" width="130px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Message") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurMsgsInactive.gif") %>" width="183px" height="36px"></A>

