﻿body
{
	margin: 0;
	
}

label, input {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label {
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

input[type="checkbox"] 
{
	width: 20px;
}

br {
	clear: left;
}

#header 
{
	height: 50px;
	width: 100%;
	background: #fff9d8;
	color: #000;
}

#subheader 
{
	height: 10px;
	width: 100%;
	background: #F6E595;
	
}

#header #loginStatus 
{
	float: right;
	padding-right: 25px;
	margin-top: -35px;
}

#header h1 
{
	margin: 0;
	padding: 10px;
}

#content 
{
	text-align: left;
	padding: 0 20px 0 20px;
}

#footer
{
	min-height: 50px;
	width: 100%;
	background: #000;
	color: #ccc;
	padding: 40px 0 10px 0;
	font-size: .75em;
	text-align: center;
}

div.clear 
{
	clear: both;
}

tr.altrow 
{
	background: #eee;
	border-top: thin solid #000;
}

.requiredAttributeIndicator
{
  padding-left: 10px;
  color: Red;
}

.additionInfoText
{
  color: Blue;
  font-size: .8em;
  padding: 0px 50px 0px 50px
}

label,textarea {
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

div.print 
{
	background-image: url('/images/print.png');
	height: 24px;
	width: 24px;
}