﻿#Navigation, #Search, #PageImage, #Footer{display:none;}
#Header, #PageContent-Wrapper{background-image:none;}
body, .main-wrapper{background-color:White; color:Black;}
.hide-in-print{display:none;}