﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MainMenu.ascx.cs" Inherits="ScholarBridge.Web.Common.MainMenu" %>
<asp:LoginView ID="loginView" runat="server">
                <RoleGroups>
                <asp:RoleGroup Roles="Admin,WSCAdmin">
                        <ContentTemplate>
                            <A href="<%= ResolveUrl("~/Admin/PressRoom") %>"><img src="<%= ResolveUrl("~/images/NavAdmin_EditPagesInactive.gif") %>" width="145px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Profile") %>"><img src="<%= ResolveUrl("~/images/NavAdmin_MySettingsInactive.gif") %>" width="141px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Admin/PendingEmailConfirmation.aspx") %>"><img src="<%= ResolveUrl("~/images/NavAdmin_PendingEmailInactive.gif") %>" width="159px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Message") %>"><img src="<%= ResolveUrl("~/images/NavAdmin_OurMsgsInactive.gif") %>" width="172px" height="36px"></A>
                        </ContentTemplate>
                    </asp:RoleGroup>
                    <asp:RoleGroup Roles="Provider Admin,Provider">
                        <ContentTemplate>
                            <A href="<%= ResolveUrl("~/Provider/Scholarships") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurScholarshipsInactive.gif") %>" width="179px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Provider/Admin") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Profile") %>"><img src="<%= ResolveUrl("~/images/NavProvider_MySettingsInactive.gif") %>" width="130px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Message") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurMsgsInactive.gif") %>" width="183px" height="36px"></A>
                        </ContentTemplate>
                    </asp:RoleGroup>
                    <asp:RoleGroup Roles="Intermediary Admin,Intermediary">
                        <ContentTemplate>
                            <A href="<%= ResolveUrl("~/Intermediary/Scholarships") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurScholarshipsInactive.gif") %>" width="179px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Intermediary/Admin") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Profile") %>"><img src="<%= ResolveUrl("~/images/NavProvider_MySettingsInactive.gif") %>" width="130px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Message") %>"><img src="<%= ResolveUrl("~/images/NavProvider_OurMsgsInactive.gif") %>" width="183px" height="36px"></A>
                        </ContentTemplate>
                    </asp:RoleGroup>
                    <asp:RoleGroup Roles="Seeker">
                        <ContentTemplate>
                            <A href="<%= ResolveUrl("~/Seeker/Profile") %>"><img src="<%= ResolveUrl("~/images/NavSeeker_MyProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Seeker/Matches") %>"><img src="<%= ResolveUrl("~/images/NavSeeker_MyMatchesInactive.gif") %>" width="113px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Seeker/Scholarships") %>"><img src="<%= ResolveUrl("~/images/NavSeeker_MyApplicationsInactive.gif") %>" width="141px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Profile") %>"><img src="<%= ResolveUrl("~/images/NavSeeker_MySettingsInactive.gif") %>" width="111px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="<%= ResolveUrl("~/Message") %>"><img src="<%= ResolveUrl("~/images/NavSeeker_MyMegsInactive.gif") %>" width="126px" height="36px"></A>
                        </ContentTemplate>
                    </asp:RoleGroup>
                </RoleGroups>

             
</asp:LoginView>

<asp:Panel ID="SeekerPanel" runat="server" Visible="false"  >
    <A href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavSeeker_MyProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavSeeker_MyMatchesInactive.gif") %>" width="113px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavSeeker_MyApplicationsInactive.gif") %>" width="141px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavSeeker_MySettingsInactive.gif") %>" width="111px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavSeeker_MyMegsInactive.gif") %>" width="126px" height="36px"></A>
</asp:Panel>  
<asp:Panel ID="ProviderPanel" runat="server" Visible="false"  >
   <A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurScholarshipsInactive.gif") %>" width="179px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_MySettingsInactive.gif") %>" width="130px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurMsgsInactive.gif") %>" width="183px" height="36px"></A>
 </asp:Panel>  
<asp:Panel ID="IntermediaryPanel" runat="server" Visible="false"  >
   <A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurScholarshipsInactive.gif") %>" width="179px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurProfileInactive.gif") %>" width="124px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_MySettingsInactive.gif") %>" width="130px" height="36px"></A><img src="<%= ResolveUrl("~/images/NavSeparator.gif") %>" width="2px" height="36px"><A  href="#" onclick="loginalert();"><img src="<%= ResolveUrl("~/images/NavProvider_OurMsgsInactive.gif") %>" width="183px" height="36px"></A>
</asp:Panel>  