﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CalendarControl.ascx.cs" Inherits="ScholarBridge.Web.Common.CalendarControl" %>
<asp:TextBox ID="datepicker" runat="server" Width="90px" MaxLength="10" ></asp:TextBox>
