﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="CoolTipInfo.ascx.cs" Inherits="ScholarBridge.Web.Common.CoolTipInfo" %>
 
<asp:Image ID="image" CssClass="coolTip" runat="server" content="Conent will go here" header="heaer will go here" 
 ImageUrl="~/Images/cooltipicon_info.png" />

 
 