﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LookupItemCheckboxList.ascx.cs" Inherits="ScholarBridge.Web.Common.LookupItemCheckboxList" %>
<div class="control-set">
    <asp:CheckBoxList ID="CheckBoxList" runat="server"  Width="450px" >
    </asp:CheckBoxList>
</div>
