﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="UnreadMessageLink.ascx.cs" Inherits="ScholarBridge.Web.Common.UnreadMessageLink" %>
 <a href="<%= ResolveUrl("~/Message") %>"><span class="Blue"><asp:Label ID="lblCount" runat="server" /></a></span>   &nbsp; | &nbsp; 
        
 