﻿body 
{
	background-color:White;
	empty-cells: show;
	font-family: Verdana, Garamond, Arial;
	font-size: 11pt;
}

h1, h2, h3
{
	border-bottom: black 1px solid;
	background-color: #dcdcdc;
	font-weight:500;
}

h1
{
	font-size: 14pt;
}

h2
{
	font-size: 12pt;
}

h3
{
	font-size: 10pt;
}

.mainTitle
{
	font-size:16pt;
	font-weight:700;
}

.langs
{
	font-size:small;
}

.header
{
	background-color:#e6e6fa;
}

.footer
{
	background-color:#ffe4c4;
	font-size:x-small;
}

.menu
{
	background-color: #f0f8ff;
	padding: 4px 4px 4px 4px;
}

.content
{
	background-color:White;
	padding: 8px;
}

.gc
{
	height: 10px;
	width: 10px;
	border-left: solid 1px black;
	border-top: solid 1px black;
	cursor: default;
	font-size: 9px;
}

.on
{
	color: #444;
	background: #444;
}

.off
{
	color: #EEE;
	background: #EEE;
}

.lock
{
	color: #cc9;
	background: #cc9;
}

/* empty cell*/
.ec
{
	color: white;
	background: white;
}

/*common header*/
.ch
{
	border-left: solid 1px black;
	border-top: solid 1px black;
	font-size: 9px;
	font-family : Arial;
}

/* row header */
.rh
{
	height: 12px;
	text-align: right;
}

/* column header */
.clh
{
	width: 12px;
	text-align: center;
	vertical-align:bottom;
}

.game_table
{
	border-right: solid 1px black;
	border-bottom: solid 1px black;
}

.pv
{
	border: solid 1px gray;
}

.td_thumbs
{
	font-size:smaller;
	padding: 5px;
}

.cap_thumbs
{
	font-weight: bolder;
	background-color: #ccff99;
}

.small_text
{
	font-size:x-small;
}

#nonoplace
{
	padding: 10px;
}

.small_preview
{
	width: 1px;
	height: 1px;
}

#preview
{
	text-align:center;
}

.pwnd
{
	border: 1px solid gray;
/*	cursor: move;*/
}

/*stuff for code snippets*/
.cf { font-family: Courier New; font-size: 9pt; color: black; background: #eee; }
.cl { margin: 0px; }
.cb1 { color: blue; }
.cb2 { color: maroon; }
.cb3 { color: red; }
.cb4 { color: green; }
.cb5 { color: teal; }
.cbh { background: #ccc; font-weight: bold; }
