﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.Master.cs" Inherits="ScholarBridge.Web.DefaultMasterPage" %>
<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="~/Common/WelcomeUser.ascx" TagName="WelcomeUser" TagPrefix="sb" %>
<%@ Register Src="~/Common/MainMenu.ascx" TagName="MainMenu" TagPrefix="sb" %>
<%@ Register Src="~/Common/GlobalMenu.ascx" TagName="GlobalMenu" TagPrefix="sb" %>
<%@ Register Src="~/Common/GlobalFooter.ascx" TagName="GlobalFooter" TagPrefix="sb" %>
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="FORMAT" content="text/html"/>
    <meta name="CHARSET" content="ISO-8859-1"/>
    <meta name="DOCUMENTLANGUAGECODE" content="en"/>
    <meta name="DOCUMENTCOUNTRYCODE" content="us"/>
    <meta name="DC.LANGUAGE" scheme="rfc1766" content="en-us"/>
    <meta name="COPYRIGHT" content="Copyright 2010 Washington Scholarship Coalition"/>
    <meta name="SECURITY" content="Public"/>
    <meta name="ROBOTS" content="index,follow"/>
    <meta name="GOOGLEBOT" content="index,follow"/>
    <meta name="Description" content="theWashBoard.org"/>
    <meta name="Keywords" content="washington, scholarship, matches, students, college, high school, school"/>
    <meta name="Author" content="Washington Scholarship Coalition"/>
    <!-- Base keywords here-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>

    <asp:PlaceHolder id="ScreenViewHeadContainer" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tablesorter.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.pager.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tinysort.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.cookie.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.watermark-2.0.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-idleTimeout.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/superfish.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/cooltip.js") %>"></script>
        <script type="text/javascript">
            /** Jquery Session Time out Popup **/
            $(document).ready(function() {
                $(document).idleTimeout({
                    redirect_url: '<%= LinkGenerator.GetFullLinkStatic("/login.aspx")  %>',
                    logout_url: '<%= LinkGenerator.GetFullLinkStatic("/logout.aspx")  %>'
                });
            });        
        </script>

        <%--<link rel="stylesheet" href="<%= ResolveUrl("~/styles/main.css") %>" type="text/css" />--%>
        <link href="<%= ResolveUrl("~/styles/WSCStyles.CSS") %>" rel="stylesheet" type="text/css" media="All" />
        <link href="<%= ResolveUrl("~/styles/global.css") %>" rel="stylesheet" type="text/css" media="All" />

        <asp:ContentPlaceHolder ID="head" runat="server"></asp:ContentPlaceHolder>
    </asp:PlaceHolder>
    <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css"  media="screen" />
        <link href="<%= ResolveUrl("~/styles/global.css") %>" rel="stylesheet" type="text/css" media="All" />

        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css"  media="print" />
        <asp:ContentPlaceHolder ID="PrintViewHead" runat="server"></asp:ContentPlaceHolder>
    </asp:PlaceHolder>
    
    <asp:PlaceHolder id="PopupViewHeadContainer" runat="server">
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/popup-view.css") %>" type="text/css"
            media="screen" />
        <asp:ContentPlaceHolder ID="PopupViewHead" runat="server"></asp:ContentPlaceHolder>
    </asp:PlaceHolder>
</head>
<body onKeyPress="return disableEnterKey(event)">
    <form id="defaultForm" runat="server">
    <!--Page wrapper starts here-->
    <div id="EntirePageWrapper">
        <asp:PlaceHolder ID="PrintViewPageHeaderPlaceHolder" runat="server">
            <div id="PrintViewPageHeader">
                <img src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>" width="235px" height="137px" />
                <asp:ContentPlaceHolder ID="PrintViewPageHeader" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </asp:PlaceHolder>
        <div id="HeaderWrapper">
            <div id="Logo">
                <img src="<%= ResolveUrl("~/images/LeftShadow_Logo.gif") %>" width="22px" height="137px"><a
                    href="<%= ResolveUrl("~/") %>"><img src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>"
                        width="234px" height="137px"></a></div>
            <div id="LogoRight">
                <img src="<%= ResolveUrl("~/images/LogoRight.gif") %>" width="640px" height="137px"><img
                    src="<%= ResolveUrl("~/images/RightShadow_Logo.gif") %>" width="22px" height="137px;"></div>
        </div>
        <asp:PlaceHolder ID="ScreenViewPlaceHolder" runat="server">
            <sb:WelcomeUser runat="server" />
            <!--topmenu starts here-->
            <div id="MenuContainer">
                <sb:MainMenu runat="server" />
            </div>
            <!--topmenu ends here-->
            <!--Successful operation container starts here-->
            <sb:SuccessMessageLabel ID="SuccessMessageLabel1" runat="server"></sb:SuccessMessageLabel>
            <!--Global nav links start here-->
            <asp:PlaceHolder runat="server" ID="ImpersonationPlaceholder">
                <div id="ImpersonationInfo">
                    Impersonated by
                    <%= ImpersonatingUser ?? "" %>&nbsp;&nbsp;
                    <asp:LinkButton ID="stopImpersonationButton" runat="server" CausesValidation="false"
                        OnCommand="stopImpersonationButton_Command">Stop Impersonation</asp:LinkButton>
                </div>
            </asp:PlaceHolder>
            <sb:GlobalMenu runat="server" />
            <!--Global nav links end here-->
            <!--Branding picture starts here-->
        </asp:PlaceHolder>
        <div id="branding-picture-area">
            <asp:contentplaceholder ID="pictureAreaPlaceHolder" runat="server">
            </asp:contentplaceholder>
        </div>
        <%-- <div><img src="<%= ResolveUrl("~/images/PicTopProviderHome.gif") %>" width="918px" height="15px"></div>
       <div><img src="<%= ResolveUrl("~/images/PicBottomProviderHome.gif") %>" width="918px" height="265px"></div>--%>
        <!--Branding picture ends here-->
        <!--This is the outer most wrapper 01 starts here-->
        <div id="ContentWrapper01">
            <div id="LeftPageShadow">
                <img src="<%= ResolveUrl("~/images/LeftContentShadow.gif") %>"></div>
            <div id="RightPageShadow">
                <img src="<%= ResolveUrl("~/images/RightContentShadow.gif") %>"></div>
            <!--This is content wrapper 02 starts here-->
            <div id="ContentWrapper02">
                <asp:PlaceHolder ID="PopupViewLogoPlaceHolder" runat="server">
                    <br />
                    <br />
                    <asp:Image ID="PopupViewLogoImage" ImageUrl="~/images/logo-horizontal.gif" runat="server" />
                    <br />
                    <br />
                </asp:PlaceHolder>
                <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
                </asp:ContentPlaceHolder>
                <div id="right">
                    <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
                    </asp:contentplaceholder>
                </div>
                <br>
                <div id="Clear">
                </div>
                    <sb:GlobalFooter runat="server" />
            </div>
            <!--This is content wrapper 02 ends here-->
        </div>
        <!--This is the outer most wrapper 01 ends here-->
    </div>
    <!--Page wrapper ends here-->
    </form>

<script type="text/javascript">var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));</script>
<script type="text/javascript">try {var pageTracker = _gat._getTracker("UA-5652286-4");pageTracker._trackPageview();} catch(err) {}</script>    
</body>
</html>
