﻿/*  TheWashBoard Global Style Sheet */


body{font-family:Arial, Arial, Helvetica, sans-serif;}

.main-wrapper /* DIV wrapping the page. Immediate child of <body>.  */
{
	width:918px;
	margin:0 auto;
}

#Footer{clear:both; padding:10px 0px; border-top:1px solid lightgray; margin-top:15px;}

a{color:#98C53C; text-decoration:none;}

.button{cursor:pointer;}
.button.disabled{cursor:default;}

a.button{
    background-image:url("/images/button_left.gif");
    background-position:left;
    background-repeat:no-repeat;
	display: block;
	float: left;
	height: 29px; 
	text-decoration: none;
	color: #ffffff;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}

a.button span{
    display:block;
	background-image:url("/images/button_right.gif");
    background-position:right;
    background-repeat:no-repeat;	
	line-height: 17px;
	padding: 6px 15px;
} 

a.button.disabled
{
   background-image:url("/images/button_leftGray.gif");
}

a.button.disabled span
{
    background-image:url("/images/button_rightGray.gif");
}

#PrintPreview{float:right;}