﻿
#wrapper {
width: auto;
height: auto;
text-align: left;
padding:0px;
vertical-align:top;
}

#gridcontainer {
height: auto;
width: 600px;
padding: 5px 2px 5px 2px ;
}

h1 {
font-size: 12px;
margin: 0px;
padding: 0px;
}

#footer 
{
width: auto;
height:auto;
text-align:left;
text-align: left;
padding: 5px;
}

#addbuttoncontainer {
height: 30px;
width: 600px;
text-align:center;
padding: 5px;
}