﻿body
{
	margin: 0;
}

label, input
{
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

label
{
	text-align: right;
	width: 75px;
	padding-right: 20px;
}

input[type="checkbox"]
{
	width: 20px;
}

br
{
	clear: left;
}

#header
{
	height: 50px;
	width: 100%;
	background: #fff9d8;
	color: #000;
}

#subheader
{
	height: 10px;
	width: 100%;
	background: #F6E595;
}

#header #loginStatus
{
	float: right;
	padding-right: 25px;
	margin-top: -35px;
}

#header h1
{
	margin: 0;
	padding: 10px;
}

#content
{
	text-align: left;
	padding: 0 20px 0 20px;
}

#footer
{
	min-height: 50px;
	width: 100%;
	background: #000;
	color: #ccc;
	padding: 40px 0 10px 0;
	margin-top: 10px;
	font-size: .75em;
	text-align: center;
}

div.clear
{
	clear: both;
}

/* tables */
th
{
	background: #fff9d8;
	border: thin solid #F6E595;
	text-align: center;
	padding: 2px 10px 2px 10px;
}
tr.altrow
{
	background: #eee;
	border-top: thin solid #000;
}
table.sortableTable
{
	background-color: #CDCDCD;
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.sortableTable thead tr th, table.sortableTable tfoot tr th
{
	background-color: #fff9d8;
	border: 1px solid #FFF;
	padding: 4px;
}
table.sortableTable thead tr .header
{
	background-image: url(/images/bg.png);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.sortableTable tbody td
{
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sortableTable tbody tr.odd td
{
	background-color: #F0F0F6;
}
table.sortableTable thead tr .headerSortUp
{
	background-image: url(/images/asc.png);
}
table.sortableTable thead tr .headerSortDown
{
	background-image: url(/images/desc.png);
}
table.sortableTable thead tr .headerSortDown, table.sortableTable thead tr .headerSortUp
{
	background-color: #F6E595;
}

/* tables */


.requiredAttributeIndicator
{
	padding-left: 10px;
	color: Red;
}

.additionInfoText
{
	color: Blue;
	font-size: .8em;
	padding: 0px 50px 0px 50px;
}

label, textarea
{
	display: block;
	width: 150px;
	float: left;
	margin-bottom: 10px;
}

div.print
{
	background-image: url( '/images/print.png' );
	height: 24px;
	width: 24px;
}

.errorMessage
{
	display: block;
	width: 50%;
	padding: 2px 10px 2px 10px;
	background-color: #F99;
	border: thin solid #933;
	margin-bottom: 5px;
}

div.successMessage
{
	display: block;
	width: 50%;
	padding: 2px 10px 2px 10px;
	background-color: #9F6;
	border: thin solid #390;
	margin-bottom: 5px;
}

div.successMessage .closeBox
{
	float: right;
	vertical-align: middle;
}

/* Profile */
.profileImage
{
	float: left;
	display: block;
}

#memberInfo
{
	float: left;
	padding-left: 15px;
}

ul.pageNav
{
	list-style: none;
	padding-left: 0;
}

.noteBene
{
	background: #FFC;
	border: thin solid #C93;
	font-style: italic;
	padding: 2px 10px 2px 10px;
}

.pager
{
	clear:both;
	margin: 0 auto;
}


.pagerlink
{
	border:solid 1px white;
	display:inline-block;
	margin-right:0.4em;
	padding:0.4em 0.7em;
	text-decoration:none;
	line-height:normal;		
	font-weight:bold;
	color:Black;		
}


.pagerlink:hover {
	border: solid 1px black;	
}

.pagerlabel
{	
	border:solid 1px white;
	display:inline-block;
	margin-right:0.4em;
	padding:0.4em 0.7em;
	text-decoration:none;
	line-height:normal;	
	background-color:black;
	font-weight:bold;
	color:white;		
}

 /* tables */
table.viewonlyTable th
{
	background: #fff9d8;
	text-align: left;
	width:180px;
	padding: 2px 10px 2px 10px;
	vertical-align:top;
	font-size:12px;
}
table.viewonlyTable tr.row
{
	background: #eee;
	
}
table.viewonlyTable
{
	
	margin: 10px 0pt 15px;
	width: 100%;
	text-align: left;
}
table.viewonlyTable thead tr th, table.viewonlyTable tfoot tr th
{
	background-color: #eee;
	
	padding: 4px;
}
table.viewonlyTable tbody tr td
{
	border: 1px solid #000;
	padding: 4px;
	font-size:12px;
}

/* tables */