﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="LookupItemRadioButtonList.ascx.cs" Inherits="ScholarBridge.Web.Common.LookupItemRadioButtonList" %>
<div class="control-set">
    <asp:RadioButtonList ID="RadioButtonList" runat="server"  Width="450px"  >
    </asp:RadioButtonList>
</div>
