﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Public.aspx.cs" Inherits="ScholarBridge.Web.Seeker.Scholarships.Public" Title="Scholarships | Show" %>
<%@ Register src="~/Common/ScholarshipPublicView.ascx" tagname="ScholarshipPublicView" tagprefix="sb" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
 <sb:ScholarshipPublicView ID="ScholarshipPublicView1" runat="server" />
</asp:Content>
