﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Simple.Master.cs" Inherits="ScholarBridge.Web.SimpleMasterPage" %>

<%@ Register Src="~/Common/GlobalFooter.ascx" TagName="GlobalFooter" TagPrefix="sb" %>
<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="FORMAT" content="text/html">
    <meta name="CHARSET" content="ISO-8859-1">
    <meta name="DOCUMENTLANGUAGECODE" content="en">
    <meta name="DOCUMENTCOUNTRYCODE" content="us">
    <meta name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <meta name="COPYRIGHT" content="Copyright © 2009 Washington Scholarship Coalition">
    <meta name="SECURITY" content="Public">
    <meta name="ROBOTS" content="index,follow">
    <meta name="GOOGLEBOT" content="index,follow">
    <asp:ContentPlaceHolder ID="seoMeta" runat="server">
        <meta name="Description" content="theWashBoard.org">
        <meta name="Keywords" content="">
    </asp:ContentPlaceHolder>
    <meta name="Author" content="Washington Scholarship Coalition">
    <!-- Base keywords here-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>

    <asp:PlaceHolder id="ScreenViewHeadContainer" runat="server">

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tablesorter.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.pager.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tinysort.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.cookie.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.watermark-2.0.min.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/superfish.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>

        <script type="text/javascript" src="<%= ResolveUrl("~/js/cooltip.js") %>"></script>

        <%--<link rel="stylesheet" href="<%= ResolveUrl("~/styles/main.css") %>" type="text/css" />--%>
        <link href="<%= ResolveUrl("~/styles/WSCStyles.CSS") %>" rel="stylesheet" type="text/css"
            media="All" />
        <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>
    <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">

        <script type="text/javascript" src="<%= ResolveUrl("~/js/print-view.js") %>"></script>

        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css"
            media="screen" />
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css"
            media="print" />
        <asp:ContentPlaceHolder ID="PrintViewHead" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>
</head>
<body>
    <!--Page wrapper starts here-->
    <form id="defaultForm" runat="server">
    <div id="EntirePageWrapper">
        <div id="HeaderWrapper">
            <div id="Logo">
                <img alt="" src="<%= ResolveUrl("~/images/LeftShadow_Logo.gif") %>" width="22px"
                    height="137px" /><a href="<%= ResolveUrl("~/") %>"><img alt="" src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>"
                        width="234px" height="137px" /></a></div>
            <div id="successMessage">
                <sb:SuccessMessageLabel ID="successMessageLabel2" runat="server"></sb:SuccessMessageLabel></div>
            <div id="LogoRight">
                <img alt="" src="<%= ResolveUrl("~/images/LogoRight.gif") %>" width="640px" height="137px" /><img
                    alt="" src="<%= ResolveUrl("~/images/RightShadow_Logo.gif") %>" width="22px"
                    height="137px;" /></div>
        </div>
        <!--Branding picture starts here-->
        <div>
            <img alt="" src="<%= ResolveUrl("~/images/PicTopSimple.gif") %>" width="918px" height="15px" /></div>

        <!--Branding picture ends here-->
        <!--This is the outer most wrapper 01 starts here-->
        <div id="ContentWrapper01">
            <div id="LeftPageShadow">
                <img src="<%= ResolveUrl("~/images/LeftContentShadow.gif") %>"></div>
            <div id="RightPageShadow">
                <img src="<%= ResolveUrl("~/images/RightContentShadow.gif") %>"></div>
            <div id="ContentWrapper02">
                <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
                </asp:ContentPlaceHolder>
                <div id="right">
                    <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
                    </asp:contentplaceholder>
                </div>
                <br />
                <div id="Clear">
                </div>
                <hr />
                <div id="Footer">
                    <sb:GlobalFooter runat="server" />
                </div>
            </div>
            <!--This is content wrapper 02 ends here-->
        </div>
        <!--This is the outer most wrapper 01 ends here-->
    </div>
    <!--Page wrapper ends here-->
    </form>
</body>
</html>
