﻿    #available .ui-selecting { background: #FECA40; }
	#available .ui-selected { background: #F39814; color: white; }
	#available { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#available li { margin: 3px; padding: 0.4em; font-size: .9em; height: 12px; }
	
	#selections .ui-selecting { background: #FECA40; }
	#selections .ui-selected { background: #F39814; color: white; }
	#selections { list-style-type: none; margin: 0; padding: 0; width: 100%; }
	#selections li { margin: 3px; padding: 0.4em; font-size: .9em; height: 12px; }
	.listcontainer {text-align:left; width:240px; padding: 5px 2px 5px 2px ; height:300px; overflow:scroll; }
	

#lookuplist_header {

    clear: both;

    height: 10px;
    padding: 1px;
    text-align:left;

}

#lookuplist_left {
    float: left;
    margin: 5px;
    width: 245px;
    border: 2px solid #dddddd;
    height:430px;
    text-align:left;
    
}

#lookuplist_right {

    float: right;

    width: 245px;
    height:430px;
    margin: 5px;
    border: 2px solid #dddddd;
    overflow:scroll;
    text-align:left;
     

}

#lookuplist_middle {

    padding: 0px 0px 5px 0px;
    margin-left:255px;
    margin-top:200px;
    width: 120px;
    height:100px;
    text-align:center;
}

#lookuplist_footer {

    clear: both;
  

}

#lookuplist_selections {

   
    border: 2px solid #dddddd;
    text-align:right;
     

}