﻿/* Note: for resizable styles, use the styles listed above in the dialog section */
/* body{ font: 62.5% Verdana, sans-serif; margin: 50px;}*/
#dialog_link {padding: .7em 1em;text-decoration: none;}

.dialog
{
width: 650px;
height: 550px;
text-align: center;
}
