﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Default.Master.cs" Inherits="ScholarBridge.Web.DefaultMasterPage" %>
<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register src="~/Common/WelcomeUser.ascx" tagname="WelcomeUser" tagprefix="sb" %>
<%@ Register src="~/Common/MainMenu.ascx" tagname="MainMenu" tagprefix="sb" %>
<%@ Register src="~/Common/GlobalMenu.ascx" tagname="GlobalMenu" tagprefix="sb" %>
<%@ Register src="~/Common/GlobalFooter.ascx" tagname="GlobalFooter" tagprefix="sb" %>

<html xmlns="http://www.w3.org/1999/xhtml" >

<HEAD runat="server">
<TITLE>ScholarBridge</TITLE>
    <META name="FORMAT" content="text/html">
    <META name="CHARSET" content="ISO-8859-1">
    <META name="DOCUMENTLANGUAGECODE" content="en">
    <META name="DOCUMENTCOUNTRYCODE" content="us">
    <META name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <META name="COPYRIGHT" content="Copyright © 2009 Washington Scholarship Coalition">
    <META name="SECURITY" content="Public">
    <META name="ROBOTS" content="index,follow">
    <META name="GOOGLEBOT" content="index,follow">
    <META name="Description" content="ScholarBridge ">
    <META name="Keywords" content="">
    <META name="Author" content="Washington Scholarship Coalition">
    <!-- Base keywords here-->
    <SCRIPT type="text/javascript" src="https://www.google.com/jsapi"></SCRIPT>
    <SCRIPT type="text/javascript">
        google.load("jquery", "1.3");
    </SCRIPT>
    <asp:PlaceHolder id="ScreenViewHeadContainer" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tablesorter.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.pager.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.tinysort.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.cookie.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.watermark-2.0.min.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/superfish.js") %>"></script>
        <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
        <%--<link rel="stylesheet" href="<%= ResolveUrl("~/styles/main.css") %>" type="text/css" />--%>
        <LINK href="<%= ResolveUrl("~/styles/WSCStyles.CSS") %>" rel="stylesheet" type="text/css" media="All"/>
	    <asp:ContentPlaceHolder ID="head" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>

    <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">
        <script type="text/javascript" src="<%= ResolveUrl("~/js/print-view.js") %>"></script>
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css" media="screen"/>
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css" media="print"/>
	    <asp:ContentPlaceHolder ID="PrintViewHead" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>
    
     <asp:PlaceHolder id="PopupViewHeadContainer" runat="server">
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/popup-view.css") %>" type="text/css" media="screen"/>
      <asp:ContentPlaceHolder ID="PopupViewHead" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>
 </HEAD>

<BODY>
 
<form id="default" runat="server">
<!--Page wrapper starts here-->
<DIV id="EntirePageWrapper">


    <asp:PlaceHolder id="PrintViewPageHeaderPlaceHolder" runat="server">
        <div id="PrintViewPageHeader">
            <a href="<%= ResolveUrl("~/") %>"><img src="<%= ResolveUrl("~/images/logo-horizontal.gif") %>" width="360px" height="100px"/> </a>
            <asp:ContentPlaceHolder ID="PrintViewPageHeader" runat="server"></asp:ContentPlaceHolder>
        </div>
    </asp:PlaceHolder>
    <DIV id="HeaderWrapper">
          <DIV id="Logo"><img src="<%= ResolveUrl("~/images/LeftShadow_Logo.gif") %>" width="22px" height="137px"><a href="<%= ResolveUrl("~/") %>"><img src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>" width="234px" height="137px"></A></DIV>
          <DIV id="LogoRight"><img src="<%= ResolveUrl("~/images/LogoRight.gif") %>" width="640px" height="137px"><img src="<%= ResolveUrl("~/images/RightShadow_Logo.gif") %>" width="22px" height="137px;"></DIV>
     </DIV>

     
     <sb:WelcomeUser runat="server" />
    
     <!--topmenu starts here-->
     <DIV Id="MenuContainer">
     <sb:MainMenu runat="server" />
     </DIV>

     <!--topmenu ends here-->

<!--Successful operation container starts here-->
     <sb:SuccessMessageLabel ID="SuccessMessageLabel1" runat="server" ></sb:SuccessMessageLabel>


      <!--Global nav links start here-->

      

       <sb:GlobalMenu runat="server"  />
     

      <!--Global nav links end here-->

      <!--Branding picture starts here-->
      <div id="branding-picture-area">
        <asp:contentplaceholder ID="pictureAreaPlaceHolder" runat="server">
        </asp:contentplaceholder>     
      </div>
      <%-- <DIV><img src="<%= ResolveUrl("~/images/PicTopProviderHome.gif") %>" width="918px" height="15px"></DIV>
       <DIV><img src="<%= ResolveUrl("~/images/PicBottomProviderHome.gif") %>" width="918px" height="265px"></DIV>--%>
      <!--Branding picture ends here-->
      
      <!--This is the outer most wrapper 01 starts here-->
      <DIV id="ContentWrapper01">
           <DIV id="LeftPageShadow"><img src="<%= ResolveUrl("~/images/LeftContentShadow.gif") %>"></DIV>
           <DIV id="RightPageShadow"><img src="<%= ResolveUrl("~/images/RightContentShadow.gif") %>"></DIV>
           <!--This is content wrapper 02 starts here-->
           <DIV id="ContentWrapper02">
              
                <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
        
                </asp:ContentPlaceHolder>
                 <div id="right">
                     <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
                     </asp:contentplaceholder>        
                  </div>
               <BR>

                  <DIV id="Clear"></DIV>
                 <HR>


                <DIV id="Footer">
                <sb:GlobalFooter runat="server" />
                </DIV>


           </DIV>
           <!--This is content wrapper 02 ends here-->
      </DIV>
      <!--This is the outer most wrapper 01 ends here-->
</DIV>
<!--Page wrapper ends here-->


</form>
</BODY>
</HTML>







