﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="External.Master.cs" Inherits="ScholarBridge.Web.ExternalMasterPage" %>
<%@ Register src="~/Common/MainMenu.ascx" tagname="MainMenu" tagprefix="sb" %>

<%@ Register src="~/Common/GlobalFooter.ascx" tagname="GlobalFooter" tagprefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
  <TITLE>ScholarBridge</TITLE>
    <META name="FORMAT" content="text/html">
    <META name="CHARSET" content="ISO-8859-1">
    <META name="DOCUMENTLANGUAGECODE" content="en">
    <META name="DOCUMENTCOUNTRYCODE" content="us">
    <META name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <META name="COPYRIGHT" content="Copyright © 2009 Washington Scholarship Coalition">
    <META name="SECURITY" content="Public">
    <META name="ROBOTS" content="index,follow">
    <META name="GOOGLEBOT" content="index,follow">
    <META name="Description" content="ScholarBridge ">
    <META name="Keywords" content="">
    <META name="Author" content="Washington Scholarship Coalition">
    <!-- Base keywords here-->
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
    <script src="https://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery-ui-1.7.1.min.js") %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/jquery.maskedinput.min.js") %>"></script>
    <script type="text/javascript" src="<%= ResolveUrl("~/js/site.js") %>"></script>
    <%--<link rel="stylesheet" href="~/styles/main.css" type="text/css" media="screen" />--%>
    <LINK href="<%= ResolveUrl("~/styles/WSCStyles.CSS") %>" rel="stylesheet" type="text/css" media="All"/>
    <link rel="stylesheet" href="~/styles/printable.css" type="text/css" media="print"  />
</head>
<body>
    <form id="default" runat="server">
<!--Page wrapper starts here-->
<DIV id="EntirePageWrapper">


<DIV id="HeaderWrapper">
          <DIV id="Logo"><img src="<%= ResolveUrl("~/images/LeftShadow_Logo.gif") %>" width="22px" height="137px"><A href="<%= ResolveUrl("~/") %>"><img src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>" width="234px" height="137px"></A></DIV>
          <DIV id="LogoRight"><img src="<%= ResolveUrl("~/images/LogoRight.gif") %>" width="640px" height="137px"><img src="<%= ResolveUrl("~/images/RightShadow_Logo.gif") %>" width="22px" height="137px;"></DIV>
     </DIV>
     <!--topmenu starts here-->
     <DIV Id="MenuContainer">
     <sb:MainMenu runat="server" />
     </DIV>
      <!--Branding picture starts here-->
        <asp:contentplaceholder ID="pictureAreaPlaceHolder" runat="server">
        </asp:contentplaceholder>     
      <%-- <DIV><img src="<%= ResolveUrl("~/images/PicTopProviderHome.gif") %>" width="918px" height="15px"></DIV>
       <DIV><img src="<%= ResolveUrl("~/images/PicBottomProviderHome.gif") %>" width="918px" height="265px"></DIV>--%>
      <!--Branding picture ends here-->
      
      <!--This is the outer most wrapper 01 starts here-->
      <DIV id="ContentWrapper01">
           <DIV id="LeftPageShadow"><img src="<%= ResolveUrl("~/images/LeftContentShadow.gif") %>"></DIV>
           <DIV id="RightPageShadow"><img src="<%= ResolveUrl("~/images/RightContentShadow.gif") %>"></DIV>
           <!--This is content wrapper 02 starts here-->
           <DIV id="ContentWrapper02">
              
                <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
        
                </asp:ContentPlaceHolder>
                 <div id="right">
                     <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
                     </asp:contentplaceholder>        
                  </div>
               <BR>

                  <DIV id="Clear"></DIV>
                 <HR>


                <DIV id="Footer">
                <sb:GlobalFooter ID="GlobalFooter1" runat="server" />
                </DIV>


           </DIV>
           <!--This is content wrapper 02 ends here-->
      </DIV>
      <!--This is the outer most wrapper 01 ends here-->
</DIV>
<!--Page wrapper ends here-->


</form>
</body>
</html>
