﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="EditProgramGuidelines.aspx.cs" Inherits="ScholarBridge.Web.Provider.Scholarships.EditProgramGuidelines" Title="Untitled Page" %>
<%@ Register Assembly="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             Namespace="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             TagPrefix="elv" %>
             
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">

<h3><asp:Literal ID="scholarshipNameLiteral" runat="server" /></h3>

<p class="additionInfoText">
Please enter the guidelines to be followed in the administration and award of this scholarship program. These guidelines should be based on the desire of the donor, and need to be reviewed annually (2000 character limit).
</p>

<label for="ProgramGuidelinesControl">Program Guidelines:</label>
<asp:TextBox ID="ProgramGuidelinesControl" runat="server" TextMode="MultiLine"></asp:TextBox>
<elv:PropertyProxyValidator ID="ProgramGuidelinesValidator" runat="server" ControlToValidate="ProgramGuidelinesControl" PropertyName="ProgramGuidelines" SourceTypeName="ScholarBridge.Domain.Scholarship"/>
<br />

<asp:Button ID="saveBtn" runat="server" Text="Save"  
        onclick="saveBtn_Click" /> 
<asp:Button ID="cancelBtn" runat="server" Text="Cancel" CausesValidation="false" 
        onclick="cancelBtn_Click" />
</asp:Content>
