﻿/*  TheWashBoard Global Style Sheet */

/* IE6 png transperancy fix */
img, div, a {behavior: url("/images/iepngfix.htc") }
.ui-tabs-selected, .ui-state-active{
    border-bottom:1px solid white;
    margin-bottom:-1px !important;
}
.tabs > ul{border-bottom:1px solid #eee;}

body
{
    padding:0px;
    margin:0px auto;
    color: #797979;
    background-color:#f9f9f9;
    text-align:left;
}
body{
    font-size:11px; 
    font-family :Arial,Helvetica, sans-serif;
}
a{color:#98C53C; text-decoration:none;}

hr{border:0; height:1px; background-color:#cecece; margin:5px auto; clear:both;}
img{border:none;}
h1{font-size:22px; font-weight:bold; margin:0px 0px 10px 0px;}
h2{font-size:14px; font-weight:bold; margin:0px 0px 15px 0px;}
h3{font-size:12px; font-weight:bold; margin:5px 0px 3px 0px;}

#MainWrapper, .main-wrapper /* Delete class  */
{
	width:918px;
	margin:0 auto;
    background-color:#f9f9f9;
}
#MainWrapper > div {position:relative;}

#Header
{
    position:relative;
    background-image:url("/images/header/top_background.png"); 
    background-repeat:no-repeat; 
    width:860px; 
    height:157px;
    z-index:2;
    padding:0 28px;
    margin-bottom:-20px;
    background-color:transparent;
}

#Header #Navigation
{
    position:absolute;
    top:101px;
    right:20px;
}

#WelcomeMessage{
    padding-top:16px; 
    color:#A6A6A6; 
    text-align:right; 

}
#WelcomeMessage #OrgName{font-size:12px;}
#WelcomeMessage #UserName{font-size:18px; font-style:italic;}

#UserLinks{
    position:absolute; 
    top:68px;
    right:220px; 
    font-weight:bold; 
    text-align:right;
}

#Search{
    position:absolute; 
    right:28px; 
    top:65px;
}

 /* TEMP FIX -- NEED TO REMOVE */
#GlobaNavLinksContainerSeeker .GlobalNavLinks #Search, 
#GlobaNavLinksContainerSeeker .GlobalNavLinks #Search > div{
    display:inline; 
    position:relative; 
    top:auto; 
    right:auto;
}

#Search input{
    vertical-align:middle; 
    margin:0px;
}
#Search input[type="text"]{width:150px;}
#Search .button{
    margin:0px;
    background-image: url("/images/BtnSearch.gif");
    background-repeat: no-repeat;
    background-color:Transparent;
    border:none;
    width:20px;
    height:23px;
}

#PageImage  
{
    z-index:1;
    padding-left:24px;
    margin-bottom:-30px;
}

#PageContent-Wrapper
{
    z-index:3;
    width:900px;
    background-image:url("/images/header/bottom_background.png");
    background-repeat:no-repeat;
    min-height:300px;
    padding:10px;
}
#PageContent
{
    background-color:#ffffff;
    padding:20px 28px;
}

#Footer
{
    font-size:11px; 
    clear:both; 
    padding:10px 0px; 
    border-top:1px solid lightgray; 
    margin-top:25px;
}

#ProfileCompleteness, #LoginForm{
    float:right;
    width:260px;
    margin-left:30px;
    margin-bottom:10px;
    overflow:hidden;
}

#LoginForm input
{
    width:250px;
    margin:5px 0px;
}

#Login .button, #LoginForm .button
{
    margin:8px 0px;
    background-image: url("/images/sign_in.png");
    background-repeat: no-repeat;
    background-color:Transparent;
    border:none;
    width:96px;
    height: 39px;
}
#TooltipContainer
{ 
    position:relative;
    background-color:#333; 
    border:1px solid #ccc; 
    padding:10px 15px; 
    width:300px; 
    display:none; 
    color:#fff; 
    text-align:left; 
    font-size:11px; 
    z-index:1000;
    
    /* outline radius for mozilla/firefox only */ 
    -moz-box-shadow:0 0 10px #000; 
    -webkit-box-shadow:0 0 10px #000; 
}

img.info.tip{
    position:relative;
    top:-3px;
    margin:0px 3px;
    width:10px; 
    height:10px; 
    cursor: help;
}

span.tip{
    border-bottom:1px dotted gray; 
    cursor: help;
}

#PrintPreview{float:right;}

/* Used as subtitle under page headers */
p.hookline
{
    font-style:italic; 
    font-size:17px; 
    color:Black;
}

/* SHOULD DELETE -- USE HR INSTEAD */
div.divider{
    clear:both; 
    border-top:1px solid #CCCCCC; 
    margin:20px 0px; 
}

div.two-column, div.three-column{overflow:hidden; width:100%;}

/* Generates a two column layout (immediate children are 2 divs) */
div.two-column > div:first-child {float:left; width:43%;}
div.two-column > div:first-child + div {float:right; width:51%;}
div.two-column.with_divider {
    background-image:url(/images/BoxSeparatorLine.gif);
    background-position:46% 0%;
    background-repeat:repeat-y;
}

/* Generates a three column layout (immediate children are 3 divs)*/
div.three-column{padding:0px 10px;}
div.three-column > div
{
    width:237px;
    float:left;
}

div.section{padding:10px 0px;}
div.section:first-child{padding-top:0px;}
div.three-column > div:first-child, div.three-column > div:first-child + div
{
   background-image:url("/images/BoxSeparatorLine.gif");
   background-position:right;
   background-repeat:no-repeat;
   margin-right:20px;
   padding-right:35px;
}


input.button{
    background-color:#92b843;
    background-image:url("/images/button_bg.png");
    background-repeat:repeat-x;
    -moz-border-radius: 3px; 
    -webkit-border-radius: 3px;
    height:29px;
    padding:0px 0px;
    font-weight:bold;
    color:White;
    border:none;
	width:auto
}
/* Green buttons */
a.button{
    background-image:url("/images/button_left.gif");
    background-position:left;
    background-repeat:no-repeat;
	display: inline-block;
	height: 29px; 
	text-decoration: none;
	color: #ffffff;
	background-color:#92b843;
	margin:2px;
	font-size:11px;
	font-weight:bold;
	text-align:center;
}
a.button span{
    display:block;
	background-image:url("/images/button_right.gif");
    background-position:right;
    background-repeat:no-repeat;	
	line-height: 17px;
	padding: 6px 15px;
	white-space:nowrap;
} 
a.button.disabled{background-image:url("/images/button_leftGray.gif");}
a.button.disabled span{background-image:url("/images/button_rightGray.gif");}

/* Places a green arrow icon prior to link */
a.circle-icon-link
{
    display:block;
    background-image:url("/images/Ico_GreenArrow.gif");
    background-position:left;
    font-style:italic;
    font-weight:bold;
    background-repeat:no-repeat;
    padding-left:19px;
    height:14px;
}

.button{cursor:pointer;}
.button.disabled{cursor:default;}
.watermark{color:Gray;}
.clear{clear:both; float:none;}
.required_indicator{color:Red; font-weight:bold;}

/* NEEDS REFACTORING: */

table.sortableTable
{
	font-family: Arial, Helvetica, sans-serif;
	color:#414141;
	font-size: 11px;
	line-height: 2.5em;
	margin: 10px 0pt 15px;
	width: 100%;
	border-collapse: collapse;
}

table.sortableTable thead tr th, table.sortableTable tfoot tr th
{
	background-color: #f7f7f7;
	border: 1px solid #FFF;
	padding: 4px;
}
table.sortableTable thead tr .header
{
    background-repeat: no-repeat;
	background-position: center left;
	padding-left:20px;
	line-height: 1.25em;
	cursor: pointer;
	background-color: #f7f7f7;
	background-image: url(/images/IcoArrowUp.gif);
}

table.sortableTable tbody td
{
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sortableTable tbody tr.odd td
{
	border-bottom: 1px solid #e5e5e5;
}
table.sortableTable thead tr .headerSortUp
{
	background-image: url(/images/IcoArrowUp.gif);
}
table.sortableTable thead tr .headerSortDown
{
	background-image: url(/images/IcoArrowDown.gif);
}
table.sortableTable thead tr .headerSortDown, table.sortableTable thead tr .headerSortUp
{
	 color: #5083ba;
}

.coolTip
{
    cursor: help;
    padding: 2px;
   
}

.coolTipErrorIcon a, coolTipErrorIcon a:active, coolTipErrorIcon a:visited{
	background-color:#FF0000;
	font-size: 1.3em;
	font-weight:bold;
	padding:1px 2px;
	margin-left:5px;
	color:#FFFFFF;
	text-decoration: none;
	
}

.coolTipInfoIcon a, coolTipInfoIcon a:active, coolTipInfoIcon a:visited
{
    background-color: #6699FF;
    font-size: 1.3em;
    font-weight: bold;
    padding: 1px 2px;
    margin-left: 5px;
    color: #FFFFFF;
    text-decoration: none;
}

.coolTipErrorIcon a:hover, coolTipInfoIcon:hover{
	color:#660000;
	text-decoration: none;
}

#COOLTIP_arrow_left
{
	background-image: url(../images/cooltip_arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#COOLTIP_arrow_right
{
	background-image: url(../images/cooltip_arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#COOLTIP
{
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
	
}

#COOLTIP_copy
{
	padding:10px 10px 10px 10px;
	color:#333333;
	text-align:left;
}


#COOLTIP_close_left
{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-size: 1.1em;
    font-weight: bold;
    color: #000000;
}

#COOLTIP_close_right
{
    background-color: #CCCCCC;
    text-align: left;
    padding-left: 8px;
    padding-bottom: 5px;
    padding-top: 2px;
    font-weight: bold;
    color: #000000;
    font-size:1.1em;
}

#COOLTIP_CONTENT p
{
    margin:3px 0;
    
}

#COOLTIP_CONTENT 
{
    margin:3px;
    font-size:1.1em;
    text-align:left;
}

#COOLTIP_CONTENT img
{
	padding: 1px;
	border: 1px solid #CCCCCC;
	
}

.Blue{color:#5083BA;}