﻿<%@ Page Title="Confirm Email" Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="VerifyUserEmailChange.aspx.cs" Inherits="ScholarBridge.Web.VerifyUserEmailChange" %>

<%@ Register Assembly="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             Namespace="Microsoft.Practices.EnterpriseLibrary.Validation.Integration.AspNet"
             TagPrefix="elv" %>
             
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
    <asp:Literal ID="lblStatus" runat="server" Text="Status" /><br />    
</asp:Content>
