﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="PrintView.ascx.cs" Inherits="ScholarBridge.Web.Common.PrintView" %>
<asp:PlaceHolder ID="ScreenViewContainer" runat="server">
    <a id="printViewLink" runat="server" target="_blank" class="print-view"><span>Print View</span></a> 
</asp:PlaceHolder>
<asp:PlaceHolder ID="PrintViewContainer" runat="server">
    <div class="print">Print</div>
</asp:PlaceHolder>
<br />