﻿input[type="text"],
input[type="password"]{
    width:200px;
}
label{position:relative;}
div.question_list > div{clear:both; margin:4px 0px;}

/* Float clearance fix */
div.question_list > div.multi-line {
    overflow:hidden; 
    width: 100%;
    
}
div.question_list > div.multi-line > *{float:left; vertical-align:top;}
div.question_list > div > *{vertical-align:middle;}
div.question_list > div > label{
    display:inline-block;
    text-align:right; 
    width:150px; 
    margin-right:14px; 
    font-weight:bold;
}