﻿/* turn off the main areas other than the content area */
#banner, #subheader, #mainnav, #footer, .print, .linkarea
{
	display: none;
}

#content 
{
	text-align: left;
	padding: 0 20px 0 20px;
}