﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PrintView.Master.cs" Inherits="ScholarBridge.Web.PrintViewMasterPage" %>

<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="FORMAT" content="text/html">
    <meta name="CHARSET" content="ISO-8859-1">
    <meta name="DOCUMENTLANGUAGECODE" content="en">
    <meta name="DOCUMENTCOUNTRYCODE" content="us">
    <meta name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <meta name="COPYRIGHT" content="Copyright © 2009 Washington Scholarship Coalition">
    <meta name="SECURITY" content="Public">
    <meta name="ROBOTS" content="index,follow">
    <meta name="GOOGLEBOT" content="index,follow">
    <meta name="Description" content="theWashBoard.org">
    <meta name="Keywords" content="">
    <meta name="Author" content="Washington Scholarship Coalition">
    <!-- Base keywords here-->

    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>

       <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">

        <script type="text/javascript" src="<%= ResolveUrl("~/js/print-view.js") %>"></script>

        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css"
            media="screen" />
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css"
            media="print" />
        <asp:ContentPlaceHolder ID="PrintViewHead" runat="server">
        </asp:ContentPlaceHolder>
    </asp:PlaceHolder>
    
</head>
<body>
    <form id="defaultForm" runat="server">
    <!--Page wrapper starts here-->
    <div id="EntirePageWrapper">
        <asp:PlaceHolder ID="PrintViewPageHeaderPlaceHolder" runat="server">
        <br />
            <div id="PrintViewPageHeader" class="subsection-big">
                <img src="<%= ResolveUrl("~/images/logo-horizontal.gif") %>" width="360px" height="100px" />
                <asp:ContentPlaceHolder ID="PrintViewPageHeader" runat="server">
                </asp:ContentPlaceHolder>
            </div>
        </asp:PlaceHolder>
        
        <!--Branding picture starts here-->
        <div id="branding-picture-area">
            <asp:contentplaceholder ID="pictureAreaPlaceHolder" runat="server">
            </asp:contentplaceholder>
        </div>
        
        <!--Branding picture ends here-->
        <!--This is the outer most wrapper 01 starts here-->
        <div id="ContentWrapper01">
           
            <div id="ContentWrapper02">
                <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server">
                </asp:ContentPlaceHolder>
                <div id="right">
                    <asp:contentplaceholder ID="rightBarContentPlaceholder" runat="server">
                    </asp:contentplaceholder>
                </div>
                <br/>
                <div id="Clear">
                </div>
            </div>
            <!--This is content wrapper 02 ends here-->
        </div>
        <!--This is the outer most wrapper 01 ends here-->
    </div>
    <!--Page wrapper ends here-->
    </form>
</body>
</html>
