﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="ScholarBridge.Web.Admin.Default" Title="Admin" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
<br /><br />
<fieldset>
<legend>WSC Administrator Home Page</legend>
<p>
Placeholder for WSC Admin Landing Page Info</p>

<br />
</fieldset>
</asp:Content>
