<p style="width: 237px; margin-top: .5em;">
        <b>We're making improvements</b> this month, in response to early feedback, to ensure the most accurate scholarship matches.
</p>
<p style="width: 237px; margin-top: 1.25em;">
	<b>New scholarships</b> are being added to theWashBoard.org daily! Check back often.
</p>
<p style="width: 237px; margin-top: 1.25em;">
	<a href="http://www.fafsa.gov"><b>FAFSA</b></a> for 2010-2011 starts January 1,
	2010.
</p>
