
/*OverAll Homepage Styles start here*/
/**/

/*Login area styles start from here*/
/*General Login area on the overall homepage and the dashboard page of the seeker and provider and intermediary*/
/*General container for the login area*/
.LoginContainer
{
                width:260px;
}

/*styles for the login of the dashboard (provider/seeker/intermediary) where the login in vertically aligned*/
.LoginContainer .Vertical
{
                width:250px;
                float: Left;
}

/*Text boxes are wider to fill up the gap*/
.LoginContainer .Vertical input
{
                width:250px;
                margin-bottom:7px;
}

/*Login button with the white background - for the Dashboard of Seeker/provider/intermediary - Vertically aligned login*/
.LoginContainer .Vertical .Button
{
                background-image: url(../images/Btn_Login.gif);
                width:88px;
                height: 31px;
                background-repeat: no-repeat;
                float: right;
                border: none;
                background-color: #ffffff;
                background-position: right;
}

/*Login header - Returning user login here text styles*/
.LoginContainer .Vertical h1
{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-style: italic;
                padding-bottom:5px;
                color: #797979;
                margin-top:10px;
}

/*Horizontal styles here*/
/*Overall homepage login styles - Login is horizontally aligned.*/
.LoginContainer .Horizontal
{
                width:500px;
                float: Left;
                position: absolute;
                top:420px;
                left:91px;
}

/*Horizontally alinged textboxes*/
.LoginContainer .Horizontal input
{
                
                margin-bottom:7px;
}

/*Login button for the overall homepage, which has a blue background at the back*/
.LoginContainer .Horizontal .Button
{
                background-image: url(../images/Btn_OverAllHomepageLogin.gif);
                width:90px;
                height: 33px;
                background-repeat: no-repeat;
                border: none;
                margin-bottom:2px;
                background-color: #ffffff;
}
/*Login header area of the overall login page - Returning user login here - white text*/
.LoginContainer .Horizontal h1
{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 16px;
                font-style: italic;
                padding-bottom:5px;
                color: #ffffff;
                margin-top:10px;
}

/*Overall login page - Error message styles*/
.LoginContainer .Horizontal .ErrorMsg
{
                font-family: Arial, Helvetica, sans-serif;
                color: #ffffff;
                font-style: italic;
                font-size: 11px;
}

/*Styles for the "new user register" styles*/
.LoginContainer .Horizontal .GreenText
{
    display:none;
}

/*Styles for the "forgot password" styles*/
.LoginContainer .Horizontal .ForgotPassword,
.LoginContainer .Horizontal .ForgotPassword a,
.LoginContainer .Horizontal .ForgotPassword a:visited 
{
	color: #ffffff;
	font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
}

.LoginContainer .Vertical .GreenText
{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                color:#98c53c;
                color: #797979;
                font-style: italic;
                text-align: right;
                clear:both;
                /*padding-left:10px;*/
}

.LoginContainer .Vertical .ForgotPassword,
.LoginContainer .Vertical .ForgotPassword a,
.LoginContainer .Vertical .ForgotPassword a:visited 
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color:#98c53c;
	font-style: italic;
	text-align: right;
	clear:both;
	text-decoration: none;
}


/*New user Register styles for links*/
.GreenText a, .GreenText a:hover, .GreenText a:visited 
{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 12px;
                font-style: italic;
                font-weight: bold;
                text-decoration: none;
                color:#98c53c;
                /*padding-left:10px;*/
}

/*Login area styles end here*/
/*#LoginContainer
{
    position: absolute;
    top:433px;
    left:91px;
                
}
.LoginHeaderText
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    padding-top:5px;
    padding-bottom:5px;
    color: #ffffff;
}
.LoginItalicText
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    padding-bottom: 5px;
    font-style: italic;
    font-weight: bold;
    width: 250px;
    margin-top: 20px;    
 }

.LoginErrorMessage
{
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    font-style: italic;
    font-size: 11px;
}
*/
.watermark {
	color: #999 !important;
	font-style: italic !important;
}




/*OverAll Homepage styles end here*/


body {
	text-align:center;
	background-color: #f9f9f9;
	margin:auto;
	text-align: center;
	padding: 0px;
	width:920px;
}

/*Body Typography Styles*/
Body
{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #797979;
}

img
{
	border: none;
}

#EntirePageWrapper

{
	width:918px;
	text-align:left;
	background-color: #f9f9f9;
	background-color: #ffffff;
	padding: 0px;
	margin: 0px;
	position: relative;
	height: 100%;
	/*border:1px solid yellow;*/
}


#Header
{
	width:917px;
}


/*HTML Structure - Logo wrapper*/
#Logo
{
	float: left;
	background-color: #f9f9f9;
}

/*HTML Structure - Right area of the logo place wrapper*/
#LogoRight
{
	float: left;
	background-color: #f9f9f9;
}



/*Absolute positioned elements and Menus*/
/*Welcome text styles*/
/*Container for positioning the Welcome text*/

#WelcomeTextContainer
{
	position: absolute;
	top:8px;
	top:21px;
	background-color: #ffffff;
	left:380px;
	width:500px;
	
}


/*Welcome text typography styles*/

.WelcomeText
{
font-family: Arial, Helvetica, sans-serif;
font-size: 18px;
color:#a6a6a6;
font-style: italic;
text-align: right;
}

/*Organisation name starts here*/
/*HTML Structure - Organization name*/
#OrganizationNameContainer
{
	position: absolute;
	top:43px;
	left:380px;
	width:500px;
	
}

/*HTML typography - Organization name*/
.OrganizationName
{
font-family: Arial, Helvetica, sans-serif;
font-style: italic;
font-size:11px;
font-weight: bold;
color:#a6a6a6;
text-align: right;
}



/*HTML Structure - Global nav*/
#GlobaNavLinksContainer
{
	position: absolute;
	top:68px;
	left:630px;
}
#GlobaNavLinksContainerSeeker
{
	position: absolute;
	top:59px;
	left:465px;
	width:auto;
	float: left;
	
	
}
/*HTML typography - Global nav links*/
.GlobalNavLinks
{
font-family: Arial, Helvetica, sans-serif;
font-size:11px;
font-weight: bold;
color:#98c53c;
}

/*HTML typography - Global nav links*/
.GlobalNavLinks a,.GlobalNavLinks a:hover, .GlobalNavLinks a:visited
{
color:#98c53c;
text-decoration: none;
}

/*HTML typography - Global nav links*/
.GlobalNavLinks .Blue
{
color:#5083ba;
}

.GlobalNavLinks .Blue a
{
color:#5083ba;
text-decoration: none;
}

/*Navigation and link styles*/

/*Navigation and links*/
/*HTML structure - Top menu container*/
#MenuContainer
{
	position: absolute;
	height: 36px;
	top:101px;
	left:273px;
	padding:0px;
	margin: 0px;
}

/*Content related styles*/
#LeftPageShadow
{
/*height: 100%;*/
width: 22px;
/*background-image: url(../images/LeftContentShadowGeneral.gif);*/
/*background-repeat: repeat-y; */
float: left;
}

#RightPageShadow
{
	background-image: url(../images/RightContentShadowGenereal.gif);
	/*background-repeat: repeat-y;
	height: 100%;*/
	float: right;
	width:22px;
}

#ContentWrapper01
{
	width:919px;
	width:918px;
	position: relative;
	background-image: url(../images/BGContentWrapper.gif);
	background-repeat: repeat-y;
	background-color: #ffffff;
}

#ContentWrapper02
{
	/*border: 1px solid red;*/
	width:860px;
	background-color: #fff;
	background-color: #ffffff;
	/*height: 100%;*/
	overflow: auto;
}



/*HTML structure -inner content left*/
#HomeContentLeft
{
	width:540px;
	float: left;
	padding: 0px;
	margin: 0px;
	/*border: 1px solid #ccc;*/
}

/*HTML structure -inner content right*/
#HomeContentRight
{
	width: 299px;
	float: right;
	/*border: 1px solid #ccc;*/
	
}

/*Homepage content for the box styles*/


/*HTML structure style - 3 boxes(columns with images) in the home page.  */


#BoxWrapper
{
	width:840px;
	height: 284px;	
	background-color: #ffffff;
	/*border: 1px solid blue;*/
	display: inline;
	margin: 0 auto 0 auto;
	float: left;
}


*html #BoxWrapper
{
	
}

/*HTML structure - Left side box*/
#LeftBottomBox
{
	float: left;
	background-image: url(../images/BoxSeparatorLine.gif);
	background-position: top right;
	background-repeat: no-repeat;
	width:260px;
	height:287px;
	padding-right: 10px;
}

/*HTML typography - Text styles*/


/*HTML structure - right side box*/
#RightBottomBox
{
	float: left;
	width:260px;
	height: 287px;
	padding-left: 10px;
}

/*HTML typography - Text styles*/

/*HTML structure - Center bottom box*/
#CenterBottomBox
{
	background-image: url(../images/BoxSeparatorLine.gif);
	background-position: right;
	background-repeat: no-repeat;
	width:260px;
	height: 287px;
	float: left;
	padding-right: 10px;
	padding-left: 10px;
}

/*HTML typography */



/*Styles for Typography - Larger emphasised font on the left side (Mission statement)*/
.HighlightedTextMain
{
	font-family: "Archer Semibold",Arial, Helvetica, sans-serif;
	font-style: italic;
	color: #3d3d3d;
	font-size: 16px;
	padding-left: 10px;
}


/*Styles - Typography - Content smaller green text*/
.RightContentGreenText
{
	font-family: "Archer Bold",Arial, Helvetica, sans-serif;
	font-size: 14px;
	color:#98c53c;
	/*padding-left:10px;*/
}


/*Styles To clear left and right content*/
#Clear
{
	clear: both;
	
}

/*HTML typography - Green text with Arrow styles*/
.IcoBoxArrow
{
	widows: 14px;
	color:#98c53c;
	font-style:Italic;
	padding-right:10px;
	height: 14px;
	font-weight:bold;
}

.IcoBoxArrow a
{
color:#98c53c;
text-decoration:none;
}

.IcoBoxArrow a:hover
{
color:#98c53c;
text-decoration:none;
}

.IcoBoxArrow a:visited
{
color:#98c53c;
text-decoration:none;
}


/*HTML Structure - Footer container*/
#Footer
{
	/*width:800px;*/
	background-color: #ffffff;
	margin-top:25px;
	margin-bottom:25px;
	clear: both;
}



/*HTML typography - Footer gray text*/
.GrayText
{
	color:#3d3d3d;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	float: left;
	text-align: left;
}

/*HTML typography - Footer Links*/
.GreenFooterLinks
{
	color:#98c53c;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	margin-left:33px;
	float: left;
	text-align: left;
}

.GreenFooterLinks a
{
	color:#98c53c;
	text-decoration:none;
}

.GreenFooterLinks a:hover
{
	color:#98c53c;
	text-decoration:none;
}

.GreenFooterLinks a:visited
{
	color:#98c53c;
	text-decoration:none;
}



/*Horizontal line style*/
#HorizontalLine
{
	background-image: url(../images/HRLine.gif);
	background-repeat: repeat-x;
	margin: 0 auto;
	width:800px;
}

HR
{

	border: 1px solid #e5e5e5;
	border-style:solid;
	background-image: url(../images/HRLine.gif);
}

/*Tab styles start here*/

.tabs
{
    
    float: left;
    line-height: normal;
    margin-right: 2px;
    text-decoration: none;
    margin-bottom: 1em;
    width: 800px;
}
                 
 .tabs ul
{
    padding: 0;
    border-color: #C0C0C0;
    margin: 0;
    list-style: none;
    padding: 10px 10px 0;
    font-family: "Gotham Light" ,Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #6ca001;
}
       
  
 .tabs ul li {
	float:left;
	 background-image: url(../images/TabRight.gif);
	 background-repeat:no-repeat;
	 background-position: right top;
	margin:0;
	padding:0;
    }
                 
 .tabs ul li a {
    display:block;
    background-image: url(../images/TabLeft.gif);
    background-repeat: no-repeat;
    background-position: left top;
    padding:5px 15px;
         color: #6ca001;
 text-decoration: none;        
	font-weight: normal;
    }
                 
 .tabs ul .ui-tabs-selected {
 background-image: url(../images/TabRightActive.gif);
 color: #4d6e0b;
}

.tabs ul .ui-tabs-selected  a {
background-image: url(../images/TabLeftActive.gif);
color: #4d6e0b; }

/*Tab styles end here*/

/*Form Styles*/

/*Style - Typography - Form header text styles*/
.FormHeader
{
	font-family: "Gotham Light",Arial, Helvetica, sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #000000; 
}

/* validate with sujatha if we need following three classes
label
{ 
	display: block;  
	float: left; 
	padding: 0; 
	margin: 5px 0 0; 
	text-align: left;
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

input, select, textarea {
	color: #000066;
	border-style: 1px solid #cfcfcf;
}

input:focus, select:focus, textarea:focus {
}
*/

#ThreeColumnFormContainer
{
	/*border: 1px solid red;*/
	margin: 0px;
	padding: 0px;
}

#LeftForm
{
	/*border:1px solid yellow;*/
	width:325px;
	float: left;
	padding: 0px;
	margin: 0px;
}

#RightForm
{
	width:325px;
	/*border: 1px solid yellow;**/
	float: left;
	padding: 0px;
	margin: 0px;
	vertical-align: top;
}

#FormDividerImage
{
	background-image: url(../images/BoxSeparators.gif);
	background-repeat: no-repeat;
	background-position: top;
	width:16px;
	height: 256px;
	float: left;
	padding-left:20px;
	padding-right:20px;
}

.form-iceland-container
{
	width:100%;
}

.form-iceland-container .form-iceland
{
	float: left;
	display: block;
	width: 100%;
}

.form-iceland-container .two-columns
{
	width: 45%;
}

.form-iceland > label { 
	width: 140px;
	float: left; 
	display: block;  
	margin: 5px 0px 10px 5px; 
	font-weight: bold;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

.form-iceland input, .form-iceland select, .form-iceland checkbox, .form-iceland textarea 
{
	color: #000066;
	background: #f6f6f6;
	border: thin solid #d0d0d0;
}

.form-iceland > input, .form-iceland > select, .form-iceland > checkbox, .form-iceland > textarea 
{
	float:left;
	display:block;
}

.form-iceland > br
{
	clear: left;
}

.form-section-title
{
	font-family: "Gotham Light",Arial,Helvetica,sans-serif;
	font-style: italic;
	font-size: 16px;
	color: #000000;
}

.vertical-devider
{
	background-image: url(../images/BoxSeparatorLine.gif);
	background-repeat: no-repeat;
	background-position: top;
	width:16px;
	height: 256px;
	padding-left:20px;
	padding-right:20px;
	float: left;
	display: block;
}

/* added by bhupindra */
.noteBene
{
	float:left;
	display: block;
	background: #FFC;
	border: thin solid #C93;
	font-style: italic;
	padding: 2px 10px 2px 10px;
}

/* used in rolling notes by admins e.g. scholarship notes */
.adminNoteDisplay
{
	color: #000066;
	background: #f6f6f6;
	border: thin solid #d0d0d0;
	display: block;
	width: 500px;
	height: 100px;
	float: left;
	margin-bottom: 5px;
}
.adminNoteEntry
{
	display: block;
	width: 495px;
	height: 60px;
	float: left;
	margin-bottom: 5px;
}

/* used for images e.g. preference and criteria */
.field-indicator
{
	float:left;
	display:block;
}

/* use control-set for checkbox list and radio button list */
.control-set
{
	float:left;
	display:block;
}

.control-set label
{
	margin: 5px 5px 10px 5px; 
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
}

/* subsection is used for indented part */
.subsection
{
	padding-left: 15px;
}

/* issue list is used for validate error list 
for example activation tab of scholarship, activating seeker profile */
div.issueList {
}

div.issueList ul {
	list-style-image: url(../images/bullet_red.png); 
}

div.issueList li 
{
	background-image: none;
	float: none;
	margin-left: 20px;
	margin-bottom: 3px;
	font-size: 0.9em;
	color: Red;
}

.legends
{
	padding: 0.5em 1em;
	font-weight: normal;
	text-align: left;
}

.legends li
{
	color: #797979;
	background-image: none !important;
	float: none !important;
	display:block !important;
	margin-left: 20px;
	margin-bottom: 3px;
	font-size: 0.9em;
}

/* e.g. build scholarship\scholarship name */
div.entity-title 
{
	min-height: 25px;
}

div.entity-title .title 
{
	font-size: 2em;
	font-weight: bold;
	float: left;
	display: inline;
	line-height: 25px;
}

div.entity-title .addition-info {
	font-size: 1.2em;
	float: left;
	display: inline;
	line-height: 25px;
}

/*Button styles*/


/*Button style using sliding door technique*/
/*This ButtonWrapper container is used for Subpages*/
#ButtonWrapper
{
	width:800px;
	/*border:1px solid red;*/
}

/*Button Container*/
#ButtonContainerLeft
{
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
	float: left;
	/*width:100%;*/
}

#ButtonContainerRight
{
	padding-top: 10px;
	padding-bottom:10px;
	margin-top:10px;
	margin-bottom:10px;
	float: right;
	/*width:50%;*/
}

a.button, a.button:visited
{
    /* Sliding right image */
    background: transparent url("../images/button_right.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff !important;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor: pointer;
}

a.button span 
{
	/* Background left image */ 
	background: transparent url("../images/button_left.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.button:hover span
{
	text-decoration:none;
}

a.disabled-button, a.disabled-button:visited
{
    /* Sliding right image */
    background: transparent url("../images/button_rightGray.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor: pointer;
}

a.disabled-button span 
{
	/* Background left image */ 
	background: transparent url("../images/button_leftGray.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.disabled-button:hover span
{
	text-decoration:none;
}

/* tables */
th
{
font-family: "Gotham Book",Arial, Helvetica, sans-serif;
font-style: italic;
font-size:12px;
background-color: #f7f7f7;
text-align: left;
font-weight: bold;
padding: 2px 10px 2px 10px;
}
tr.row 
{
	border-bottom: 1px solid #e5e5e5;	
}
tr.altrow
{
	border-bottom: 1px solid #e5e5e5;
}


table.sortableTable
{
font-family: Arial, Helvetica, sans-serif;
color:#414141;
font-size: 11px;
line-height: 2.5em;
margin: 10px 0pt 15px;
width: 100%;
border-collapse: collapse;

}
table.sortableTable thead tr th, table.sortableTable tfoot tr th
{
	background-color: #f7f7f7;
	border: 1px solid #FFF;
	padding: 4px;
}
table.sortableTable thead tr .header
{
    background-repeat: no-repeat;
	background-position: center left;
	padding-left:20px;
	cursor: pointer;
	background-color: #f7f7f7;
	background-image: url(../images/IcoArrowUp.gif);
}
table.sortableTable tbody td
{
	color: #3D3D3D;
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.sortableTable tbody tr.odd td
{
	border-bottom: 1px solid #e5e5e5;
}
table.sortableTable thead tr .headerSortUp
{
	background-image: url(../images/IcoArrowUp.gif);
}
table.sortableTable thead tr .headerSortDown
{
	background-image: url(../images/IcoArrowDown.gif);
}
table.sortableTable thead tr .headerSortDown, table.sortableTable thead tr .headerSortUp
{
	 color: #5083ba;
}

/*New styles appended by Sujatha*/

table.sortableTable a
{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color:#98c53c;
text-decoration: none;

}

table.sortableTable a:hover,a:visited
{
text-decoration: none;
color:#98c53c;
}


.ListScholarshipName
{
font-family: Arial, Helvetica, sans-serif;
font-size: 11px;
color:#6ca001;
}

.ListScholarshipName a
{
text-decoration: none;
color:#6ca001;
}

.ListScholarshipName a:hover,a:visited
{
text-decoration: none;
color:#6ca001;
}
/*List style ends here*/

.print-view
{
	background-image: url(../images/print.gif);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 24px;
	width: 105px;
	height: 96px;
	float: right;
	display: inline;
}
.hidden { display: none !important; }

/*This class is used for Loginarea in the unloggedin Seeker page*/

.LoginArea input, .LoginArea select, .LoginArea textarea
{
    color: #797979;

background-color: #f6f6f6;

background-image: none;

background-repeat: repeat;

background-attachment: scroll;

background-position: 0% 0%;

border-top-width: thin;

border-right-width-value: thin;

border-right-width-ltr-source: physical;

border-right-width-rtl-source: physical;

border-bottom-width: thin;

border-left-width-value: thin;

border-left-width-ltr-source: physical;

border-left-width-rtl-source: physical;

border-top-style: solid;

border-right-style-value: solid;

border-right-style-ltr-source: physical;

border-right-style-rtl-source: physical;

border-bottom-style: solid;

border-left-style-value: solid;

border-left-style-ltr-source: physical;

border-left-style-rtl-source: physical;

border-top-color: #d0d0d0;

border-right-color-value: #d0d0d0;

border-right-color-ltr-source: physical;

border-right-color-rtl-source: physical;

border-bottom-color: #d0d0d0;

border-left-color-value: #d0d0d0;

border-left-color-ltr-source: physical;

border-left-color-rtl-source: physical;

width: 250px;
}


/*Style for aligning search button*/
.SearchButton
{
	Vertical-align:middle;
	height:23px;
	width:20px;
	border-width:0px;
	margin-bottom:7px; 
	margin-left:0px;
}

/*Style for profile arrow*/
.ProfileArrow
{
	width:5px;
	height: 9px;
	vertical-align: middle;
	border-width: 0px;
	margin-bottom:2px;
	margin-right:5px;
}

/*Jquery tabs specific css*/

.ui-helper-clearfix {display: inline-block;}

.ui-helper-clearfix {display: block;}

.ui-tabs .ui-tabs-nav {
list-style-type: none;
list-style-image: none;
list-style-position: outside;
position: relative;
padding-top: 0.2em;
padding-right: 0.2em;
padding-bottom: 0pt;
padding-left: 0.2em;
}
.ui-tabs .ui-tabs-hide { display: none !important; }
/* Layout helpers
----------------------------------*/
.ui-helper-hidden { display: none; }
.ui-helper-hidden-accessible { position: absolute; left: -99999999px; }
.ui-helper-reset { margin: 0; padding: 0; border: 0; outline: 0; line-height: 1.3; text-decoration: none; font-size: 100%; list-style: none; }
.ui-helper-clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.ui-helper-clearfix { display: inline-block; }
/* required comment for clearfix to work in Opera \*/
* html .ui-helper-clearfix { height:1%; }
.ui-helper-clearfix { display:block; }
/* end clearfix */
.ui-helper-zfix { width: 100%; height: 100%; top: 0; left: 0; position: absolute; opacity: 0; filter:Alpha(Opacity=0); }


/* Interaction Cues
----------------------------------*/
.ui-state-disabled { cursor: default !important; }

/*General styles for Blue and the Green links for the whole site starts here*/

.GreenLink 
{
color:#98c53c;
text-decoration: none;
}

.GreenLink a
{
color:#98c53c;
text-decoration: none;
}
.GreenLink a:hover
{
color:#98c53c;
text-decoration: none;
}

.GreenLink a:visited
{
color:#98c53c;
text-decoration: none;
}


.BlueLink
{
color:#5083ba !important;
text-decoration: none;
}

.BlueLink a
{
color:#5083ba !important;
text-decoration: none;
}

.BlueLink a:hover
{
color:#5083ba;
text-decoration: none !important;
}

.BlueLink a:visited
{
color:#5083ba;
text-decoration: none !important;
}

/*Typography style for My match page - List discription text*/
.ListDescriptionText
{
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	color:#3d3d3d;
	width:470px;
}

/*Button style inside List*/
.ListButton
{
	background-color: #8fb443;
	padding: 5px;
	font-size: 11px;
	padding-right:7px;
	padding-left:7px;
	color: #ffffff;
}

.ListButton a
{
	color: #ffffff;
	text-decoration: none;
}

.ListButton a:hover
{
	color: #ffffff;
	text-decoration: none;
}

.ListButton a:visited
{
	color: #ffffff;
	text-decoration: none;
}

/*Successfully completed operation styles*/
/*Successful operation container*/

.SuccessfullOperationConatiner
{
                border: 1px solid #5083ba;
                position:absolute;
                top:18px;
                left:225px;
                width:300px;
}

/*Successful operation typography styles*/
.SuccessfullOperationText
{
                font-family: Arial, Helvetica, sans-serif;
                font-size: 11px;
                color: #5083ba;
                padding: 8px;
                text-align:center ;
}


/*General styles for Blue and the Green links for the whole site ends here*/



/* styles for asp pager */
.pager
{
	clear: both;
	margin: 0 auto;
}
.pagerlink
{
    border: solid 1px #98c53c;
    display: inline-block;
    margin-right: 0.4em;
    padding: 0.4em 0.7em;
    text-decoration: none;
    line-height: normal;
    font-weight: bold;
    color: Black;

}
/* previous next button for pager */
.pager a
{
    border: solid 1px #98c53c;
    display: inline-block;
    margin-right: 0.4em;
    padding: 0.4em 0.7em;
    text-decoration: none;
    line-height: normal;
    font-weight: bold;
    color: Black;

}

.pager a[disabled] 
{
    border: solid 1px white;
    display: inline-block;
    margin-right: 0.4em;
    padding: 0.4em 0.7em;
    text-decoration: none;
    line-height: normal;
    font-weight: bold;
    color: gray !important;

}
.pager a[disabled]:hover
{
    border: solid 1px white;
    background-color: white;
}
.pager a:hover
{
	border: solid 1px #98c53c;
	background-color: #98c53c;
}

.pagerlink:hover
{
	border: solid 1px #98c53c;
	background-color: #98c53c;
}

.pagerlabel
{
	border: solid 1px white;
	display: inline-block;
	margin-right: 0.4em;
	padding: 0.4em 0.7em;
	text-decoration: none;
	line-height: normal;
	background-color: #98c53c;
	font-weight: bold;
	color: white;
}

/* support for print view */
.only-in-print
{
	display:none;
}
.GeneralBodyText 
{
    font-family: Arial,Helvetica,sans-serif;
    font-size: 12px;
    color: #797979;
    font-style: italic;
}

.ui-widget-header { color: #222222; font-weight: bold; font-family:Arial;font-size:14px; margin-bottom:10px;}

/*CSS For jquery pager plugin */

.pager ul.pages {
display:block;
border:none;
text-transform:uppercase;
font-size:10px;
margin:10px 0 50px;
padding:0;
}

.jqpager ul.pages li {
list-style:none;
float:left;
border:1px solid #ccc;
text-decoration:none;
margin:0 5px 0 0;
padding:5px;
}

.jqpager ul.pages li:hover {
border:1px solid #003f7e;
}

.jqpager ul.pages li.pgEmpty {
border:1px solid #eee;
color:#eee;
}

.jqpager ul.pages li.pgCurrent {
border:1px solid #003f7e;
color:#000;
font-weight:700;
background-color:#eee;
}
/*END OF CSS For jquery pager plugin */

/*styles for Jtip Plugin*/
#JT_arrow_left{
	background-image: url(../images/arrow_left.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	left:-12px;
	height:23px;
	width:10px;
    top:-3px;
}

#JT_arrow_right{
	background-image: url(../images/arrow_right.gif);
	background-repeat: no-repeat;
	background-position: left top;
	position: absolute;
	z-index:101;
	height:23px;
	width:11px;
    top:-2px;
}

#JT {
	position: absolute;
	z-index:100;
	border: 2px solid #CCCCCC;
	background-color: #fff;
}

#JT_copy{
	padding:10px 10px 10px 10px;
	color:#333333;
}

.JT_loader{
	background-image: url(../images/loader.gif);
	background-repeat: no-repeat;
	background-position: center center;
	width:100%;
	height:12px;
}

#JT_close_left{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_close_right{
	background-color: #CCCCCC;
	text-align: left;
	padding-left: 8px;
	padding-bottom: 5px;
	padding-top: 2px;
	font-weight:bold;
}

#JT_copy p{
margin:3px 0;
}

#JT_copy img{
	padding: 1px;
	border: 1px solid #CCCCCC;
}

.jTip{
cursor:help;
}

.formInfo a, .formInfo a:active, formInfo a:visited{
	background-color:#FF0000;
	font-size: 1.3em;
	font-weight:bold;
	padding:1px 2px;
	margin-left:5px;
	color:#FFFFFF;
	text-decoration: none;
}

.formInfo a:hover{
	color:#660000;
	text-decoration: none;
}

/*END OF CSS For Jtip pager plugin */