﻿@import url("reset.css");
/* turn off the main areas other than the content area */
#banner, #subheader, #mainnav, #footer, .linkarea, #mainMenu, input[type="button"], input[type="submit"], .exclude-in-print
{
	display: none;
}

body
{
	font-size: 11px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
}

h1
{
	font-size: 20px;
	text-transform: uppercase;
	background-color: #99CCFF;
	border-top: 1px solid #564b47;
	border-bottom: 1px solid #564b47;
	padding: 5px 15px;
}

h2
{
	font-size: 20px;
	font-weight: normal;
	padding: 5px 10px 5px 0;
}

h3
{
	font-size: 15px;
	padding: 5px 20px 5px 0;
	text-decoration: underline;
}

h4
{
	font-size: 11px;
	padding: 5px 20px 5px 5px;
	text-decoration: underline;
	font-style: normal;
}

h5
{
	padding: 5px 10px 5px 0;
}

br
{
	clear: left;
}

/* tables */
.viewonlyTable th
{
	width: 200px;
	padding: 2px 10px 2px 10px;
	vertical-align: top;
	font-size: 10px;
	font-style: normal;
}

.viewonlyTable td
{
	font-style: italic;
}

#container
{
	text-align: left;
	padding: 0 20px 0 20px;
}

div.print {
	background-image: url('../images/print.png');
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 24px;
	width: 60px;
	float: right;
	display: inline;
	text-align: center;
}

.indent-level-1
{ 
	padding-left: 10px;
}

.vertical-indent-level-1
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.viewLabel 
{
	font-weight: bold;
	float: left;
	width: 120px;
	padding: 5px 0 5px 0;
}

.viewValue 
{
	float: left;
	text-align: left;
	width: 600px;
	padding: 5px 0 5px 0;
}
