﻿#lookuplist_holder h1
{
	font-size: 1em;
	background-color: #33ADE2;
	margin: 0px;
	padding: 1px;
	color:white;
}

#dialog_link {padding: .7em 1em;text-decoration: none;}
.available .ui-selecting { background: #FECA40; }
.available .ui-selected { background: #F39814; color: white; }
.available { list-style-type: none; margin: 0; padding: 0; width: 400px; }
.available li { margin: 3px; padding: 0.4em; font-size: .9em; height: 12px; }
.selections .ui-selecting { background: #FECA40; }
.selections .ui-selected { background: #F39814; color: white; }
.selections { list-style-type: none; margin: 0; padding: 0; width: 400px; }
.selections li { margin: 3px; padding: 0.4em; font-size: .9em; height: 12px; }
.listcontainer {text-align:left; width:240px; padding: 5px 2px 5px 2px ; height:300px; overflow:scroll; }
.ajaxprogress{ margin-top:10px; margin-left:30px; vertical-align:middle;text-align:center;	}
.lookupsearchbox{ height: 20px; width:200px;border: 2px solid #dddddd;	}
#lookuplist_search
{
    padding:4px;
}	
#lookuplist_available_container {
    float: left;
    margin: 0px;
    width: 240px;
    height:370px;
    text-align:left;
    overflow:scroll;
}

#lookuplist_available {
    width: 50px;
    height:auto;
    text-align:left;
 }

#lookuplist_selections {
     
    text-align:left;
}


/* holder styles */
#lookuplist_holder {
	
	text-align: left;
	margin: 0 auto 0 auto;
	width:650px;
	height:auto;
	
	
}

/* header styles */
#lookuplist_header {
	text-align:left;
    height: 40px;
    vertical-align:text-top;
    
    
    
}


/* navigation styles */
#lookuplist_left 
{
	width: 245px;
	float: left;
	padding: 0px 0px; /* side padding is added to total width above for a 160px "real total" */
	border: 2px solid #dddddd;
	text-align:left;
	height:466px;
}

/* content styles */
#lookuplist_middle 
{
    float:left;
	margin: 100px 0px 0px 5px;
	padding: 2px;
	width:110px;
}

/* third column styles */
.lookuplist_right {
	padding: 2px;
	float: right;
	width: 255px;
	height: 453px;
	border: 2px solid #dddddd;
	overflow:scroll;
    text-align:left;
}

/* third column styles */
.lookuplist_right_withotherbox {
	padding: 2px;
	float: right;
	width: 255px;
	height:350px;
	border: 2px solid #dddddd;
	overflow:scroll;
    text-align:left;
}
/* third column styles */
.lookuplist_otherbox_hidden {
	padding: 2px;
	float: right;
	width: 255px;
	height:120px;
	border: 2px solid #dddddd;
	overflow:hidden;
    text-align:left;
    visibility:hidden;
    display:none;
}
/* third column styles */
.lookuplist_otherbox_visible {
	margin: 5px 0px 0px 0px;
	padding: 2px;
	float: right;
	width: 255px;
	height:90px;
	border: 2px solid #dddddd;
	overflow:hidden;
    text-align:left;
    visibility:visible;
}
.noborder{border:none;}

.other-textbox { width:100%; }
.LookupSelectButton
{
    padding-bottom :2px;    
}
.other-textbox { width:100%; }

.available-list-pager
{
	margin-left:-35px;
	padding-top: 362px;
}