﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SelectRelatedProvider.ascx.cs" Inherits="ScholarBridge.Web.Common.SelectRelatedProvider" %>
<asp:DropDownList ID="providerDDL" runat="server"  />
