﻿label{position:relative; font-size:11px; font-family :Arial,Helvetica, sans-serif; }

.requirement_indicator{color:Red; font-style:italic;}

div.question_list.left {float:left; width:45%;}
div.question_list.right {float:right; width:45%;}

div.question_list > div.multi-line > *{
    float:none;
    width:auto;
}

div.question_list > div.multi-line > label{
    text-align:left;
    width:100%;
    margin-right:0px;
}
div.question_list > div {   
    overflow:hidden; 
    width: 100%;
    margin:10px 0px;
}

div.question_list > div > *{float:left;}
div.question_list > div > label{
    display:block;
    min-height:15px;
    text-align:right; 
    width:135px; 
    margin-top:5px;
    margin-right:10px;
    color: #666;
}
div.question_list > div > label.full{
    text-align:left;
    margin:5px 0px;
    width:95%;
}

div.question_list > div > label.full + textarea{
    width:95%;
}

div.question_list > div > label.full + div{
    margin-left:15px;
}
div.question_list > div select,
div.question_list > div input[type="text"],
div.question_list > div input[type="password"]{
    width:160px;
}

div.question_list:first-child > div textarea{
    width:190px;
}
div.question_list > div textarea{
    width:230px;
}

div.question_list > div select.short,
div.question_list > div input[type="text"].short,
div.question_list > div input[type="password"].short{
    width:80px;
}


div.question_list > div.full > input, 
div.question_list > div.full > textarea, 
div.question_list > div.full > select{
    width:650px;
}

hr{width:85%; margin:13px auto;}