﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="MyHomeLink.ascx.cs" Inherits="ScholarBridge.Web.Common.MyHomeLink" %>
<asp:HyperLink runat="server" ID="LinkToMyHome" Text="My Home" />
