﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="Tip.ascx.cs" Inherits="ScholarBridge.Web.Common.Tip" %>
 
<asp:Image runat="server" ID="infotip" CssClass="info tip"  ToolTip="" AlternateText="" ImageUrl="~/Images/cooltipicon_info.png"/> 

 
 