﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="ApplicationFinancialNeedShow.ascx.cs" Inherits="ScholarBridge.Web.Common.ApplicationFinancialNeedShow" %>

<h3>Financial Need</h3>
<h4>Need</h4>
<div>
<div class="viewLabel">FAFSA Definition of Need:</div> <div class="viewValue"><asp:Literal ID="fafsa" runat="server" /></div>
</div>
<br />
<div>
<div class="viewLabel">User Derived Definition of Need:</div> <div class="viewValue"><asp:Literal ID="userDerived" runat="server" /></div>
</div>
<br />
<div>
<div class="viewLabel">Minimum Need:</div> <div class="viewValue"><asp:Literal ID="minimumNeed" runat="server" /></div>
</div>
<br />
<div>
<div class="viewLabel">Maximum Need:</div> <div class="viewValue"><asp:Literal ID="maximumNeed" runat="server" /></div>
</div>
<br />
<div>
<div class="viewLabel">Need Gap Threshold:</div> 
<div class="viewValue">
<asp:Repeater ID="needGapThresholds" runat="server">
    <HeaderTemplate><ul></HeaderTemplate>
    <ItemTemplate><li><%# Eval("Name") %></li></ItemTemplate>
    <FooterTemplate></ul></FooterTemplate>
</asp:Repeater>
</div>
</div>
<br />
<div>
<div class="viewLabel">Types of Support:</div> 
<div class="viewValue">
<asp:Repeater ID="typesOfSupport" runat="server">
    <HeaderTemplate><ul></HeaderTemplate>
    <ItemTemplate><li><%# Eval("Name") %></li></ItemTemplate>
    <FooterTemplate></ul></FooterTemplate>
</asp:Repeater>
</div>
</div>
<br />