﻿<%@ Control Language="C#" AutoEventWireup="true" CodeBehind="SeekerProfileProgress.ascx.cs" Inherits="ScholarBridge.Web.Common.SeekerProfileProgress" %>
<%@ Register TagPrefix="sb" TagName="SeekerActivation" Src="~/Common/SeekerProfileActivation.ascx" %>
<asp:ImageButton ID="ProfileCompletnessImage" runat="server" ImageAlign="Middle" ImageUrl="~/images/ProfileCompleteness10Percent.gif"
 width="238px" height="84px"  OnClick= "ProfileCompletnessImage_Click" />
<P class="HighlightedTextRightContent"><asp:Literal ID="ProfileCompletnessMessage" runat="server" /></P>







