﻿@import url("reset.css");
/* turn off the main areas other than the content area */
#HeaderWrapper, #WelcomeTextContainer, #OrganizationNameContainer, hr,
#MenuContainer, .GlobalNavLinks, #LeftPageShadow, #RightPageShadow, #branding-picture-area,
#footer, .linkarea, #mainMenu, input[type="button"], input[type="submit"], .GreenFooterLinks,
.exclude-in-print
{
	display: none;
}

body
{
	font-size: 11px;
	font-family: Verdana, Arial, SunSans-Regular, Sans-Serif;
	color: #564b47;
}

h1
{
	font-size: 20px;
	text-transform: uppercase;
	background-color: #99CCFF;
	border-top: 1px solid #564b47;
	border-bottom: 1px solid #564b47;
	padding: 5px 15px;
}

h2
{
	font-size: 20px;
	font-weight: normal;
	padding: 5px 10px 5px 0;
}

h3, .section-level-1
{
	font-size: 15px;
	padding: 5px 20px 5px 0;
	text-decoration: underline;
}

h4, .section-level-2
{
	font-size: 11px;
	padding: 5px 20px 5px 5px;
	text-decoration: underline;
	font-style: normal;
}

h5
{
	padding: 5px 10px 5px 0;
}

br
{
	clear: left;
}

/* tables */
.viewonlyTable th
{
	width: 200px;
	padding: 2px 10px 2px 10px;
	vertical-align: top;
	font-size: 10px;
	font-style: normal;
	text-align:left;
}

.viewonlyTable td
{
	font-style: italic;
}

#container
{
	text-align: left;
	padding: 0 20px 0 20px;
}

div.print {
	background-image: url(../images/print.gif);
	background-repeat: no-repeat;
	background-position: top center;
	padding-top: 24px;
	width: 105px;
	height: 96px;
	float: right;
	display: inline;
}

.indent-level-1
{ 
	padding-left: 10px;
}

.vertical-indent-level-1
{
	padding-top: 10px;
	padding-bottom: 10px;
}

.viewLabel 
{
	font-weight: bold;
	float: left;
	width: 120px;
	padding: 5px 0 5px 0;
}

.viewValue 
{
	float: left;
	text-align: left;
	width: 600px;
	padding: 5px 0 5px 0;
}

/* Button views */
a.button, a.button:visited
{
    /* Sliding right image */
    background: transparent url("../images/button_right.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
	cursor: pointer;
}

a.button span 
{
	/* Background left image */ 
	background: transparent url("../images/button_left.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.button:hover span
{
	text-decoration:none;
}

a.disabled-button a.disabled-button:visited
{
    /* Sliding right image */
    background: transparent url("../images/button_rightGray.gif") no-repeat scroll top right; 
	display: block;
	float: left;
	height: 29px; 
	margin-right: 6px;
	padding-right: 20px;
	/* FONT PROPERTIES */
	text-decoration: none;
	color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	font-size:11px;
	font-weight:bold;
}

a.disabled-button span 
{
	/* Background left image */ 
	background: transparent url("../images/button_leftGray.gif") no-repeat; 
	display: block;
	line-height: 17px;
	padding: 7px 0 5px 18px;
} 

a.disabled-button:hover span
{
	text-decoration:none;
}
