﻿<%@ Page Language="C#" MasterPageFile="~/Default.Master" AutoEventWireup="true" CodeBehind="InActivate.aspx.cs" Inherits="ScholarBridge.Web.Intermediary.Relationships.InActivate" Title="Intermediary | Relationships | Inactivate" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="bodyContentPlaceHolder" runat="server">
    
</asp:Content>
