﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="PrintView.Master.cs" Inherits="ScholarBridge.Web.PrintViewMasterPage" %>

<%@ Register Assembly="ScholarBridge.Web" Namespace="ScholarBridge.Web" TagPrefix="sb" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <meta name="FORMAT" content="text/html">
    <meta name="CHARSET" content="ISO-8859-1">
    <meta name="DOCUMENTLANGUAGECODE" content="en">
    <meta name="DOCUMENTCOUNTRYCODE" content="us">
    <meta name="DC.LANGUAGE" scheme="rfc1766" content="en-us">
    <meta name="COPYRIGHT" content="Copyright 2010 Washington Scholarship Coalition">
    <meta name="SECURITY" content="Public">
    <meta name="ROBOTS" content="index,follow">
    <meta name="GOOGLEBOT" content="index,follow">
    <meta name="Description" content="theWashBoard.org">
    <meta name="Keywords" content="washington, scholarship, matches, students, college, high school, school">
    <meta name="Author" content="Washington Scholarship Coalition">
    
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">
        google.load("jquery", "1.3");
    </script>

    <asp:PlaceHolder id="PrintViewHeadContainer" runat="server">
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/global.css") %>" type="text/css" media="all" />
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/print-view.css") %>" type="text/css" media="screen" />        
        <link rel="stylesheet" href="<%= ResolveUrl("~/styles/printable.css") %>" type="text/css" media="print" />
        <asp:ContentPlaceHolder ID="PrintViewHead" runat="server"></asp:ContentPlaceHolder>
    </asp:PlaceHolder>
</head>
<body>
    <div class="main-wrapper">
        <asp:PlaceHolder ID="PrintViewPageHeaderPlaceHolder" runat="server">
            <img id="Logo" alt="TheWashBoard.org" src="<%= ResolveUrl("~/images/LogoTheWashBoard.gif") %>" style="width:172px; height:100px; float:left;" />
            <asp:ContentPlaceHolder ID="PrintViewPageHeader" runat="server"></asp:ContentPlaceHolder>
            <asp:ContentPlaceHolder ID="ScholarshipHeader" runat="server"></asp:ContentPlaceHolder>
        </asp:PlaceHolder>
        <asp:PlaceHolder ID="abc" runat="server">
            <asp:ContentPlaceHolder ID="pictureAreaPlaceHolder" runat="server"></asp:ContentPlaceHolder>
        </asp:PlaceHolder>
        <asp:ContentPlaceHolder ID="bodyContentPlaceHolder" runat="server"></asp:ContentPlaceHolder>
    </div>
</body>
</html>
