﻿select,
input[type="text"],
input[type="password"]{
    width:160px;
}

label{position:relative; font-size:11px; font-family :Arial,Helvetica, sans-serif; }

div.question_list.left {float:left; width:45%;}
div.question_list.right {float:right; width:45%;}

div.question_list > div {   
    overflow:hidden; 
    width: 100%;
    margin:7px 0px;
}

div.question_list > div > *{float:left;}
div.question_list > div > label{
    display:inline-block;
    text-align:right; 
    width:125px; 
    margin-top:3px;
    margin-right:10px;
    color: #666;
}

hr{width:85%; margin:13px auto;}